[2017-07-06 17:23] fernando-mc opened #1 "405 Error after submitting post request."
Trying to resolve the issue described here:
https://stackoverflow.com/questions/44954961/how-to-configure-s3-bucket-to-allow-posts-to-api-gateway-without-405-error

Essentially the POST to api gateway works, but the static site is redirected to an error page.

[2017-07-07 22:32] fernando-mc commented on #1
Was just an issue with the form used. It was submitting a post when it shouldn't have been. Unrelated to this package.

[2017-07-07 22:32] #1 closed

[2017-09-15 08:48] cdelgadob opened #3 "Create CloudFront distribution OR get the bucket ARN"
It would be nice to be able to choose how to serve the content, either via S3 with Static Web Hosting (as it is now), or via Cloudfront distribution.

If this is too much, it would be a good start to be able to retrieve the bucket ARN, so one could do the CloudFront provisioning via extra CloudFormation code.

Is there a way to achieve this?

Thanks!

[2017-09-15 13:28] fernando-mc commented on #3
@cdelgadob Sounds like a great idea. I'm a bit busy right now so I've paused active development on many of my projects for the next month or two. The best way to have this happen would be to give this a shot yourself and then submit a PR. Feel free to let me know if you have any questions.

[2017-09-19 09:49] mebibou opened #4 "How to use"
I'm a little bit confused on how to use this, after I added the module using `npm install serverless-finch --save-dev`, if I run `serverless client ...` there is no way this would work as there is no `bin`. How are we supposed to use this? the README is not clear enough imho

[2017-09-19 09:53] mebibou opened #5 "Upload static website files from custom directory"
Any way to upload files from the `./www` folder? I saw `distributionFolder` in the code but it seems to be joined to `client` parent folder. I'd like to be able to upload from the `www` folder in the root of the project

[2017-09-19 13:44] fernando-mc commented on #5
@mebibou There isn't at the moment. Feel free to open a PR that adds this functionality and I will review and test it.  I've paused active development on many of my projects right now because of a few other commitments, Let me know if you have any questions.

Alternatively you can use this in combination with a bash script.

mkdir client
mv ./www ./client/dist
serverless client deploy
mv ./client/

[2017-09-19 13:46] fernando-mc commented on #4
@mebibou Thanks for the input! Can you open a PR with some suggestions? The command structure is listed in the Readme, but I'm happy to improve it to make any part of it clearer.

[2017-09-27 19:24] richburdon commented on #4
Hi @fernando-mc I'll open a PR, but am also confused, so if I describe the confusion here and you can explain, I'll send a PR for an updated README.

1). You don't mention any endpoint (i.e., no "functions" section in the config) so how do you "visit the website". The deploy output and sls info don't tell me anything.

2). Use case: I'm using aws-serverless-express and was hoping to use serverless

[2017-09-27 19:29] richburdon commented on #4
@mebibou I think you have to visit your AWS Console and go to the S3 section. You'll then see your bucket and can access your files here:

https://s3.amazonaws.com/YOUR_BUCKET_NAME/YOUR_FILE

[2017-09-28 02:13] fernando-mc commented on #4
@mebibou rereading this today and I'm a bit confused by what you mean by lacking `bin`. This plugin deploys static website assests to an S3 bucket and configures that bucket as a static site. By default this is an AWS S3 static site with an AWS static site domain like `some-bucket-you-deploy-to.s3-website-us-east-1.amazonaws.com`

I'd like in the future to enable it to deploy to custom domains too

[2017-09-28 02:40] richburdon commented on #4
@fernando-mc thanks for the detailed response.

Sorry, my mistake, the URL is in fact in the output. I hadn't noticed it the first time and was looking for a record of it in `sls info`. I'm new to serverless is my excuse :).

Re templates, I've since discovered that I can use the `copy-webpack-plugin` webpack plugin to declare local directories that will be packaged so that these files are accessi

[2017-09-28 03:24] fernando-mc commented on #4
@mebibou Can you please add more information about what you tried and what was unclear about the functionality here? I'll do my best to address it.

@richburdon Sounds good! Glad you found a solution. Please feel free to come back anytime and help build additional functionality you might like to see.

[2017-09-28 03:26] fernando-mc commented on #5
@mebibou This is a great idea so I'm adding this as a potential enhancement. Please feel free to open a PR to add this otherwise I'll give this a shot another weekend.

[2017-09-28 06:10] mebibou commented on #4
yes sorry I realized afterwards what this plugin was really about, and that it had to be used with `serverless`, which I never used before so I was really confused at first. Thanks for your help

[2017-09-28 06:10] #4 closed

[2017-10-13 18:46] Akababa opened #7 "Selective deploy"
Allow a command line option to specify which files to deploy, or even better take it as standard input so it can be piped with git diff.

[2017-10-13 18:50] fernando-mc commented on #7
@Akababa Sounds like a great option. I'm happy to help review PRs that include that functionality if you have time to work on it. Let me know if you need help getting started.

I don't know if I'll be able to prioritize this myself right now but I will mark it as a help wanted enhancement. Thanks for the idea!

[2017-10-13 23:32] Akababa commented on #7
Sure, I'll give it a shot. I'm still new to this so could you tell me what the best practice is for taking multiple file names in a command line option, or how to read from stdin in this framework?

[2017-10-14 05:28] fernando-mc commented on #7
@Akababa I'd suggest reviewing some of these resources first:
https://serverless.com/blog/writing-serverless-plugins/
https://serverless.com/framework/docs/providers/aws/guide/plugins/

I'm not sure how much use I'll actually be guiding development here, but I'll see if I can find some examples and let you know if I find similar cases.

[2017-10-19 16:02] redroot opened #9 "`client remove` functionality"
I was wondering what you thought about adding `remove` as a CLI option, similar to the `serverless remove` command. In this case it would empty the bucket and delete it. I'm happy to work on the PR myself but wanted to make sure it wasn't a feature you were against?

[2017-10-19 23:06] fernando-mc commented on #9
Sounds like a good idea. I can’t think of many drawbacks other than
accidental site nuking but that’s the case with many tools. Go for it!

On Thu, Oct 19, 2017 at 9:02 AM Luke Williams <notifications@github.com>
wrote:

[2017-10-20 04:31] fernando-mc commented on #9
@redroot I still can't think of any reason not to. I've added this as an enhancement.

[2017-10-20 16:31] fernando-mc commented on #9
@redroot This looks pretty solid. I'll test this tonight along with a few other things and try to get it all merged and published.

I'll also add you as a contributor and update the readme with the new functionality.

[2017-10-21 04:09] fernando-mc commented on #9
Added with [this PR](https://github.com/fernando-mc/serverless-finch/pull/10) from @redroot

[2017-10-21 04:10] #9 closed

[2017-10-31 20:39] dmk255 opened #11 "Print static website url upon completion"
It would be nice to be able to have the amazon generated static website url generated upon completion.

e.g.

`http://<bucket-name>.s3-website-<region>.amazonaws.com/`

[2017-11-17 20:39] fernando-mc commented on #11
@dmk255 I think this is a great suggestion. There's a PR open for how we can do this correctly - https://github.com/fernando-mc/serverless-finch/pull/6

Feel free to put your thoughts there.

[2017-11-23 20:41] amsross commented on #11
I opened #13 to address the correctness of #6 as well as this issue (which brought me here).

[2017-11-24 22:10] #5 closed

[2017-11-25 04:18] fernando-mc commented on #11
@amsross and @dmk255 v1.3 is published which outputs the static website endpoint.

Be aware that this is not always:
`http://<bucket-name>.s3-website-<region>.amazonaws.com/`

Sometimes it is:
`http://<bucket-name>.s3-website.<region>.amazonaws.com/`

We are now logging the correct url for each file deployed.

[2017-11-25 04:18] #11 closed

[2018-01-09 16:03] nasirumair opened #15 "Not able to choose if I want bucket policy to be overwritten"
This plugin always overwrites the bucket policy to make the bucket public, even if that is not needed. It would be nice to make that a parameter that can be passed in.

[2018-01-09 16:09] fernando-mc commented on #15
@nasirumair The main purpose of the plugin is to push static website files. Usually, those need to be public in order to be used.

Can you explain the use case you're looking for in more detail? Why do the files need to be otherwise? What specifically would you like to see happen when you use the plugin?

I'm hesitant to change the default behavior but maybe we can add a parameter to allow for a d

[2018-01-09 16:19] nasirumair commented on #15
@fernando-mc The use case is that I have an existing policy on my bucket that allows only certain IPs to access the bucket. When I use this plugin, it overwrites that policy and makes the bucket public. If the bucket policy change was configurable and I could pass a parameter in to do that, this would be extremely helpful for sites needing more security

[2018-01-09 16:25] fernando-mc commented on #15
@nasirumair seems like a use case that makes sense. If there was an optional param I guess you'd pass the policy in and have it applied instead of (or overwriting the default policy after the fact) to the bucket?

That would be fine as long as it didn't interfere with the existing behavior. I'm assuming from my personal experience that the expected and preferred default behavior is a public websit

[2018-01-16 17:23] groteworld opened #16 "Feature Request: Add custom fields to define index and error documents"
It would be nice to be able to define the following config so that a single page application could set them both to 'index.html'. The following config should be defaults if not provided, to not break current implementations.

[code]

[2018-01-16 21:20] fernando-mc commented on #16
@groteworld Sounds like a decent idea to me.

Is this something you could try on your own and put in a PR for? Happy to chat here or via email/video call if you want to work on it and need guidance.

[2018-01-22 21:59] shentonfreude opened #17 "Region found in serverless.yml is not getting variable expanded"
I'm deploying to different stages (shentonfreude, dev, test, prod) and each may have a different `region` defined in serverless.yml stage variables file custom_stage_variables.yml:
[code]
Then the provider defines `region`, so that Finch can find it:
[code]
But when I try to deploy the client, it looks like Finch is not expanding the region variable:
[code]
S3 is lying here, there's no resource co

[2018-01-23 04:56] fernando-mc commented on #17
@shentonfreude can you provide a simplified example that still demonstrates the break? Right now I'm trying to read through your example but you're referencing files that aren't included.

If you're convinced that's the problem then I'd also encourage you to throw in a PR for a fix and I'll test things on what's breaking for you now and apply/test the fix.

[2018-01-23 13:22] shentonfreude commented on #17
OK @fernando-mc, I'll try to come up with a more simple example. I can take a whack at a fix but Node's not my strong suite. Hopefully later today.

[2018-01-23 20:48] fernando-mc commented on #17
Sounds great. Thanks @shentonfreude!

[2018-01-23 22:45] shentonfreude commented on #17
Sadly, I'm not node-smart enough to solve the problem but have created what I hope is a minimal full example that demonstrates the problem.  I've put it up in a repo here:
https://github.com/v-studios/TestFinchStageRegion

But for TL;DR, if I have:
[code]
I then see Finch not expanding the region in its message, then you'll notice `undefined` in the S3 website endpoint spec at the end -- it's not

[2018-01-24 04:13] fernando-mc commented on #17
@shentonfreude Thanks for providing that repo and the extra information here. I've tested it myself and confirmed the issue.

I think you're correct and this is a bug in the plugin - the Serverless Framework itself appears to evaluate the code you're using correctly. (I was able to use basically the same file to create a dynamoDB table that correctly created with the correct name - in this case `u

[2018-01-24 13:55] shentonfreude commented on #17
Thanks for confirming @fernando-mc. I'll take a look but I'm a python guy and my node chops aren't even good enough yet to know how to print something :-(  If I can figure out why it's not resolving and come up with a fix, I'll post a PR for sure.

[2018-01-26 23:40] shentonfreude commented on #17
This fix seems to solve the problem, but I'll admit to being a bit out of my depth.
Demo against my minimal example:
[code]

[2018-01-26 23:42] fernando-mc commented on #17
@shentonfreude Great! I'll try to test the fix this weekend.

[2018-01-31 20:23] evanseeds commented on #16
I just submitted a pull request that implements this feature, linked above at https://github.com/fernando-mc/serverless-finch/pull/20

[2018-02-01 09:14] constb commented on #3
I'm not sure if creating a CF distribution on S3-deploy is a good idea. Maybe it's better create a bucket and a distribution via cloudformation template as part of `sls deploy`, not `sls client deploy`.

Creating an invalidation for a preexisting CF distribution on the other hand would be a very good thing to do, right after S3 upload…

[2018-02-05 23:07] linusmarco opened #21 "Feature suggestion: Allow user to set redirect options for the bucket"
Now that the plugin allows for custom index and error documents ( #20 ), I think the next logical step on that path would be to allow users to specify the other two website configuration options: `RedirectAllRequestsTo` and `RoutingRules` ([docs](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-s3-websiteconfiguration.html#cfn-s3-websiteconfiguration-redirectallrequest

[2018-02-06 22:04] fernando-mc commented on #21
@linusmarco I have to think on this one a little. One thing I want to eventually move this plugin towards is handing custom domains, CloudFront distributions, and SSL certs.

I'm generally open to ideas that don't interfere with the default behavior. But I've not used those specific config options before. I'm assuming that they wouldn't really get in the way of that sort of functionality if they w

[2018-02-07 02:19] linusmarco commented on #21
Okay, sounds good. Thanks for the feedback, @fernando-mc. These options shouldn't get in the way of any already-existing functionality. I'll work on it and submit a PR. No worries if takes a while to approve. The direction you're heading sounds awesome--that would be very useful. I'll be happy to pitch in with other contributions going forward.

[2018-02-07 05:57] fernando-mc commented on #21
Sounds great @linusmarco ! Honestly, the toughest part for me right now has been testing to make sure new PRs don't break existing functionality. If you have suggestions to streamline that I'd love your thoughts.

Don't get me wrong though, any PRs for new functionality will be very much appreciated!

[2018-02-12 04:37] #17 closed

[2018-02-12 05:11] fernando-mc commented on #17
Fixed by #18

[2018-02-13 07:19] fernando-mc commented on #16
@groteworld this is implemented in the newest version. (1.4.0)

Thanks @evanseeds!

[2018-02-13 07:19] #16 closed

[2018-02-20 15:19] linusmarco opened #24 "Feature suggestion: Allow user to specify metadata for uploaded files"
S3 bucket hosting allows you to set HTTP headers for responses to incoming requests via "Metadata" for each object in the bucket. It would be great to be able to specify these through the options in `serverless.yml`.

A specific use case for this would be for setting Cache-Control headers, which are particularly important for making sure that browsers don't cache files on your site that may change

[2018-02-20 19:48] fernando-mc commented on #24
@linusmarco makes sense to me. I've run into this issue before a ton myself and had to deal with it manually. I'd love to be able to specify that in the config once and avoid doing it manually.

Go for it. I will admit I'm slower merging things these days because I need automated tests still and there are quite a few use-cases to test for now.

[2018-02-20 20:22] linusmarco commented on #24
Sounds good! I'm also happy to help you in writing up tests for new (or existing) functionality. Let me know if there's any specific place you'd want me to start.

[2018-02-21 06:08] fernando-mc commented on #24
@linusmarco Tests for literally anything would be great. I'm honestly not sure where to start as I've never written tests for anything like this before.

[2018-02-21 15:09] linusmarco commented on #24
Sounds good! I'll submit tests to go along with this PR and then move on to testing other parts of the library from there.

[2018-02-27 05:58] fernando-mc opened #27 "Maintainers Needed!"
There have been some great PRs with new functionality that I'd like to see included. The main two issues are that:

1. I have limited time to review PRs
2. I have more experience in Python than JavaScript which has limited my ability to efficiently review PRs

I'm looking for a few contributors who might be interested in taking a more active role reviewing, testing, and merging updates to the plug

[2018-02-27 13:45] amsross commented on #27
I just marked this repo as `Watched`. I'll be happy to help out where I can.

[2018-02-27 13:54] linusmarco commented on #27
I'm also happy to take a more active role in this repo (as a maintainer or otherwise). I should have time to review and contribute on a regular basis.

[2018-02-27 19:25] ajagnanan commented on #15
I saw #25 was created to address this. I'm running into the issue where I'm using Cloudfront to front the site, which doesn't require S3 to be public. Any reason why the pr was closed?

[2018-02-27 20:12] fernando-mc commented on #15
@ajagnanan no idea. I think the person who opened it also closed it.

[2018-02-28 01:28] fernando-mc commented on #27
@amsross awesome. Feel free to jump in and review any PRs that come in. Any help is appreciated. If you're interested in having a role with more permissions (merging rights etc.) just let me know!

@linusmarco awesome. I'd love your help. Can you email me and then let's setup a time to chat briefly? My email is - fernandomc.sea@gmail.com

[2018-02-28 18:22] evanseeds commented on #27
I just marked the repo as Watched and set up a local testing environment. I should be able to test some of the Pull Requests once I get a little more organized 😅

[2018-03-01 01:01] fernando-mc commented on #27
Awesome, thanks @evanseeds!

Just chatted with @linusmarco and I think we'll open up a few issues that will make the process of getting new functionality merged more efficient. Those include trying to come up with a standard environment and set of tests to run.

There's plenty of stuff to do so we'll try to prioritize all the issues we come up with so stay tuned there too!

[2018-03-01 01:10] linusmarco opened #29 "Testing strategy"
With the plugin growing pretty rapidly, @fernando-mc and I agree that it's going to be important to come up with a solid, standardized testing strategy.

I think that to start out we can do two things:
1. Try to get close to 100% unit test coverage for the current functionality (and aim for similar on any new code)
2. Standardize (and possibly automate parts of) the manual testing that @fernando-m

[2018-03-01 01:33] linusmarco opened #30 "Reworking documentation"
The current API reference consists of an inline sample yaml file, which works well for the limited set of options available on the current release, but most of the recent PRs add more options, some of which require more complex explanations.

To deal with this, I think we should move towards something more like this for documenting the options:

### bucketName (*required*)

[code]
Use this paramet

[2018-03-01 02:11] fernando-mc commented on #30
@linusmarco Makes sense that the YAML is going to start to be insufficient soon. This looks like a good possibility but I'm not sure how we handle nested attributes here.

I think if possible we should keep one large sample config file somewhere to showcase how it all comes together.

Also, we have additional documentation we might need to do for things like #28 which impact the CLI options.

[2018-03-01 02:29] linusmarco commented on #30
@fernando-mc - good point. I'll think a bit more about this and try to come up with a more complete option that covers nested parameters and CLI options.

Also, I completely agree on keeping a full sample YAML config.

[2018-03-01 03:46] evanseeds commented on #29
I don't have much experience with unit testing, but if someone else could get a unit test framework set up, I would probably be able to write some unit tests.

As far as the manual testing, the process I have is to clone the repo and put it into `./node_modules` in a test serverless project. It seems like a bad practice to me to manually put something in `./node_modules`, but as far as I can tell

[2018-03-01 12:06] linusmarco commented on #29
Thanks for volunteering, @evanseeds! @fernando-mc already set up mocha for testing, but over the next week or so (estimate) I'll be working on adding a bunch of tests that you could use as examples as well. I'll also add a section to the README on how to run the unit tests.

In terms of the manual testing, you're right that it's a bad idea to manually copy the plugin to your node_modules. Luckily,

[2018-03-01 13:28] amsross commented on #29
I would also add that linting would be a positive addition to automated testing. Close to 100% of the PRs are riddled with what would be pretty easily classifiable as style violations. Currently these all involve manual call-outs.

Any of the dozens of popular linters can made this a one-line change.

[code]

[2018-03-01 13:31] amsross commented on #29
@linusmarco if you don't already have something in mind, a light restructuring of the current constructor implementation and a little `sinon.stub` here and there can make testing against AWS pretty trivial. Refactoring class methods which depend on `this` having a bunch of pre-configured state (such as `_processDeployment`) to make fewer assumptions can make that very achievable.

[2018-03-01 14:26] linusmarco commented on #29
@amsross: I totally agree on adding a linter/formatter. I'm not a huge fan of standard because of the lack of config options--I would lean more towards prettier, but either would be a big step up from nothing.

Definitely makes sense to stub the AWS methods as part of the tests, and refactoring will make that a lot easier. Eventually it would be nice to have tests that actually deploy and then con

[2018-03-01 15:00] evanseeds commented on #30
How should we handle documenting CloudFormation/AWS features? For example, @linusmarco, in your Pull Request #23, the routing rules you implement mirror CF/S3's routing rules (though with different casing). Is it better to redundantly document all of those ourselves, or point people towards AWS's (often dense and intimidating) documentation?

[2018-03-01 17:30] linusmarco commented on #30
@evanseeds, I think that we should maintain our own documentation for that stuff. As you mentioned, the AWS docs can be pretty opaque, but beyond that, we may not want to exactly mirror their structures for everything, and I wouldn't want to rely on them not adding options or somehow changing their docs. I definitely think it would be good to add links to their docs in our docs as an extra referen

[2018-03-02 01:11] fernando-mc commented on #29
@linusmarco @amsross All these suggestions sound great.

Let's split into separate issues for any decisions that need to be made or code that needs to be written and then assign issues out among ourselves or by asking community members if they can tackle something.

Potential issues to split out here and discuss/prioritize separately
1. Choice of linter and how to implement it
2. What testing fram

[2018-03-02 06:43] xingped opened #31 "YAMLException: Unidentified Alias"
I'm so sorry, I made this issue in the wrong repo.

[2018-03-02 06:57] #31 closed

[2018-03-03 16:13] linusmarco opened #32 "Add linting"
@amsross suggested that we add linting for standardization and to avoid having to catch/point that stuff out in PR review. I'm a big fan of [prettier](https://prettier.io/) because it will both lint the code and can be set up to auto-format everything via editor plugins.

Here's my proposed setup:

package.json
[code]

This will lint and throw errors when `npm test` runs (locally or via CI). I als

[2018-03-03 16:15] linusmarco opened #33 "Choosing a testing framework"
The current setup is mocha. I'm fine with that, but does anyone feel strongly that we use something else?

(split out of #29 per @fernando-mc's suggestion)

[2018-03-03 16:24] linusmarco opened #34 "Writing unit and integration tests"
(split out from #29)

Let's try to get complete coverage of the code we have to help make sure that everything works as expected now and going forward as new functionality is added.

@fernando-mc, I can lead this charge.

If anyone has ideas for specific tests that we should include, please chime in here.

[2018-03-03 16:29] linusmarco opened #35 "End-to-end testing"
(split out from #29)

Copied from #29, @fernando-mc's current testing process is below. Let's try to come up with a more standardized and automated set of e2e tests so that multiple people (or even just our CI) can share the burden. Anyone want to volunteer to take this on? I'm happy to chip in here as well.

1. Review the code with no tests for syntax/potential errors without running it
2. Wait f

[2018-03-03 16:41] linusmarco opened #36 "Refactoring/structural improvements"
(split out from #29)

This can be the home for general suggestions on structural improvements to the codebase (an we can break out to more specific issues when appropriate). Here are a few things that I think we can improve:

1. Split out config-like variables into one or more json/yaml files (e.g. the region-to-URL map currently near the top of the code)
2. Generally improve the level of modulari

[2018-03-03 16:43] linusmarco commented on #29
@fernando-mc - I've broken out the topics identified in this thread into a few new issues (#32, #33, #34, #35, #36). I'm going to close this issue.

[2018-03-03 16:43] #29 closed

[2018-03-03 16:50] fernando-mc commented on #32
@linusmarco Works for me. We'll probably need to update the repo itself to conform. I'm sure it has some style violations already.

Can we do this as a pre-commit hook? https://prettier.io/docs/en/precommit.html

Or do you prefer a Travis CI integration?

Alternatively, we can create a PR template to ask folks to lint their own code? https://blog.github.com/2016-02-17-issue-and-pull-request-templa

[2018-03-03 17:36] fernando-mc opened #37 "Deployment Strategies"
I've added @linusmarco as a collaborator and fully expect to add a few more folks as collaborators soon.

Currently, I have set up the master branch as protected with these settings:
![deployment](https://user-images.githubusercontent.com/6182464/36937190-7289314c-1ec4-11e8-9e6a-08c92eca7de6.PNG)

That means that any PRs can be merged to master after any collaborator approves them.

Deployment to

[2018-03-04 02:01] linusmarco commented on #32
@fernando-mc - yup the existing codebase will definitely need to be updated to conform. I would plan to just update it as part of the PR that adds the linting.

Pre-commit linting is a great ideaI I got it working locally and will submit a PR now.

[2018-03-06 14:18] #32 closed

[2018-03-06 14:18] #30 closed

[2018-03-08 12:46] lrholmes commented on #3
Agree with @constb that an automated CF invalidation feature would be really handy! Should this be put into a new issue or is it relevant enough to this one?

[2018-03-09 12:01] lrholmes opened #40 "Automatically create invalidation for CloudFront distribution post-deploy"
As a common use case for hosting a website with S3 is to integrate with CF, it would be great to be able to automate the invalidation that is required to update a CF distribution after deploying the website to S3.

[2018-03-09 12:03] lrholmes commented on #3
@linusmarco great, just made one here: #40.

I am just getting started with Serverless, so don't have a great amount of knowledge yet and wouldn't know exactly where to start, but I'm eager to learn more so I might have a go at it when I find some time over the weekend. If you could comment any pointers on the new issue that would be great!

[2018-03-10 00:54] linusmarco commented on #40
Hey @lrholmes! This should be fairly easily accomplished by making a `createInvalidation` request to the AWS SDK. You can do this within this plugin via an operation looking something like this:

[code]

More info on the information that would need to be included in `params` can be found in the AWS SDK docs here:
https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/CloudFront.html#createInvalid

[2018-03-10 01:28] linusmarco opened #41 "Using outdated serverless request API"
This is a:

* [ ] Feature request or change
* [x] Bug report

### Expected behavior

Our `this.aws.request` calls should use the most recent Serverless API:

[code]

### Actual behavior

We use the old API:

[code]

### Steps to reproduce

This is a problem for every deployment. It doesn't affect functionality because the old API still appears to be supported. However, you can see the warnings thr

[2018-03-11 20:23] fernando-mc commented on #36
@linusmarco I think we could learn a lot from this - https://github.com/stojanovic/scottyjs/

It looks really well structured doing some of the same things we're doing (except that it doesn't hook into serverless)

[2018-03-11 20:30] fernando-mc commented on #27
@evanseeds and @amsross I've added you as collaborators along with @linusmarco.

I'm aiming to really decentralize the development here because I'm clearly a roadblock right now. Right now the repository settings require an approval from another collaborator before a merge.

So basically if one of you makes a PR all you need is an approved review from another one to merge. Keep in mind that _all t

[2018-03-12 02:18] fernando-mc commented on #40
@lrholmes great suggestion! Feel free to reach out if you have questions about how you can help us add this in.

[2018-03-12 02:19] fernando-mc commented on #33
@linusmarco Mocha it is.

[2018-03-12 02:19] #33 closed

[2018-03-12 02:31] #41 closed

[2018-03-12 02:45] traviscollins commented on #40
Using invalidations for cache defeats on new deployments is not an appropriate use. The invalidations won't be uniform over geographies and times, and is generally a heavy lift operation. See this doc for more details.

https://docs.aws.amazon.com/AmazonCloudFront/latest/DeveloperGuide/Invalidation.html

Instead the deployment should include a version number in the resource directory or file name

[2018-03-12 12:17] constb commented on #40
Yeah, well, even versioned assets need to be referenced somewhere, like index.html maybe? I mean if what you are making is SPA + lambdas for backend, you're probably gonna need to invalidate at least something anyway…

[2018-03-12 12:34] traviscollins commented on #40
Correct that your build process must integrate the version number into the HTML file (or somewhere). But...

A) if you do not cache the HTML file, you don’t have to invalidate anything because it will simply reference the new assets

B) If you do cache the HTML file users will see the new version as the old version cache timeout expires. But no matter which version they receive it will be able to

[2018-03-13 01:31] linusmarco commented on #36
@fernando-mc--nice find! I'll look through that repo this week

[2018-03-16 00:12] fernando-mc commented on #36
@linusmarco IMO this does exactly what we probably should do - break out all the logic into maintainable chunks that we can track of independently. Also, a lot of the code seems like stuff we can model ours off of - it does many of the same things - it just doesn't plugin to the framework directly.

[2018-03-16 00:15] fernando-mc commented on #35
I also have a series of scripts I run now with a set of configuration files and bash commands to test functionality manually. I don't think this process is super feasible for other folks though so I'm only going to do it for tagged releases.

[2018-03-16 00:16] fernando-mc commented on #34
Also putting this here - This project has some cool tests that I think we can think about learning from too:
https://github.com/stojanovic/scottyjs

[2018-04-02 00:47] linusmarco commented on #36
@fernando-mc, I'm almost done with a refactor in the mold of the scottyjs. Like you said, I think the new code will be a lot more maintainable and testable.

https://github.com/linusmarco/serverless-finch/tree/refactor

I'll submit a PR soon. I want to split things up a bit more

[2018-04-02 01:21] fernando-mc commented on #36
@linusmarco Awesome work. Probably what we'll end up doing here will be to just push this as a new major version. We'll still try to maintain backwards compatibility but if we're restructuring a lot and making some changes it might not always be possible.

Thanks for all the hard work on this!

[2018-04-03 00:31] linusmarco commented on #36
That sounds good to me. I think everything should be backwards compatible, but there's enough change that a major release makes sense.

[2018-04-22 08:38] jdLYNC opened #45 "On Client Deploy - WARNING: Inappropriate call of provider.request()"
This is a:

* [X] Bug report

---

### Expected behaviour

On running `serverless client deploy` the command executes without warnings.

### Actual behavior

On running `serverless client deploy` the command executes successfully but with the following warning being logged about 40 times.

[code]

### Steps to reproduce

* **Operating system:**
OS: macOS Sierra Version 10.12.6
ZSH: zsh 5.4.1 (x86_

[2018-04-22 19:53] fernando-mc commented on #45
@jdLYNC This should be fixed in an upcoming version. #41 and #42 dealt with this we just haven't pushed a new version yet. I'll leave this open until we publish the new version that should fix this.

[2018-04-22 20:25] fernando-mc commented on #15
@nasirumair @ajagnanan Please feel free to open a PR for this. I'm marking it as something we're open to. With version 2 of this plugin there was a lot of refactoring done so changes should be substantially easier to implement. I should be merging and publishing v2 today. Feel free to ask for help on this issue if you have questions!

[2018-04-22 20:29] fernando-mc commented on #7
@Akababa I think we'd love to have this feature still. One of the other maintainers has done a lot of refactoring so changes and new features should be easier to make after I merge this new version today. I'm assigning this to you for now but feel free to reach out for help!

[2018-04-22 20:31] fernando-mc commented on #3
@lrholmes thanks for opening #40 ! I'm not sure where we landed with that so let any of the collaborators or maintainers know if you have questions on how to proceed. We're doing a fairly substantial refactor so it may require changes after today.

[2018-04-22 20:32] fernando-mc commented on #3
@cdelgadob Since you requested the feature I've assigned it to you to follow up with the relevant folks on #40 and work with @lrholmes who seems to have started to work on this. Let us know if you have any questions!

[2018-04-22 20:33] fernando-mc commented on #21
This is related to one of the PRs I think I dropped the ball on. Assigning back to you to peek over after we merge/publish v2.

[2018-04-22 20:34] fernando-mc commented on #24
@linusmarco V2 does this 😀
Thanks for implementing it! Should be in V2 so I'm closing this.

[2018-04-22 20:34] #24 closed

[2018-04-22 20:35] fernando-mc commented on #34
@linusmarco Leaving this assigned to you since you claimed it.

[2018-04-22 20:36] fernando-mc commented on #37
Closing this.

[2018-04-22 20:36] #37 closed

[2018-04-22 20:37] fernando-mc commented on #40
@lrholmes I'm going to assign this to you to lead the charge on here. Let us know if we can help. After today there should be a fairly significant refactor that may make this a bit easier to implement in a clean way.

[2018-04-22 20:39] #15 closed

[2018-04-22 22:26] linusmarco commented on #21
You didn't drop the ball at all--this was actually addressed in the refactor (#43) :smiley:. I'll close this issue

[2018-04-22 22:26] #21 closed

[2018-04-22 22:26] fernando-mc commented on #45
@jdLYNC can you let me know if version two fixed this for you?

[2018-04-22 22:29] linusmarco commented on #15
V2 implements this functionality to some degree via CLI parameters (--no-policy-change, --no-cors-change). You still can't set a custom policy, but that's something we could implement down the road.

[2018-04-22 22:40] fernando-mc commented on #45
I think v2 should have fixed this so I'm closing this. Feel free to reopen if it is still an issue after upgrading!

[2018-04-22 22:40] #45 closed

[2018-04-22 22:42] fernando-mc commented on #15
Whoever picks this up can probably copy a lot of what was done and use that to guide the development for this feature.

[2018-04-23 03:49] wzedi opened #47 "After upgrade to 2.0: ServerlessError: ReferenceError: index is not defined"
This is a:

* [] Feature request or change
* [x] Bug report

---

For bug reports:

### Expected behavior
Running `serverless client deploy` my static site should be deployed to S3ˀ

### Actual behavior
After upgrade to 2.0 I get the following error when running `SLS_DEBUG=true serverless client deploy`:

[code]

### Steps to reproduce

1. Upgrade to 2.0
1. include WebsiteConfiguration with IndexD

[2018-04-23 14:05] fernando-mc commented on #47
@wzedi merged. Cutting a new release for this in v2.0.1. Should be live in a few minutes.

[2018-04-23 14:06] fernando-mc commented on #47
cc @linusmarco in case you need to pull this into anything you're working on.

[2018-04-23 14:10] fernando-mc commented on #47
@wzedi this is live. Please feel free to reopen if this doesn't fix the issue!

[2018-04-23 14:10] #47 closed

[2018-04-23 14:42] linusmarco commented on #47
Sorry about this, guys! Thanks @wzedi and @fernando-mc for turning around the fix so quickly!

[2018-04-23 16:04] fernando-mc commented on #47
@linusmarco no worries. I missed it too and didn't have tests set up for it.

@wzedi Before I forget - I'll add you as a contributor. Thanks for the quick PR.

[2018-04-24 00:55] wzedi commented on #47
Tested this and all working well. Thanks guys for quick turn around.

Question:

Installed v 2.0.1 and ran sls client deploy with objectHeaders set. The deployment runs as expected and the object headers are set as expected. Excellent. Thanks guys.

Question for this feature request is the deployment has a confirmation prompt:
`Do you want to proceed?`

This waits for user input. I tested this fro

[2018-04-24 00:56] wzedi commented on #47
If it will stall is it possible to provide a CLI switch to disable prompts for automated deployments?

[2018-04-24 15:51] danduh opened #50 "Upload into folder"
This is a:

* [*] Feature request or change
* [] Bug report

---

### Proposed behavior
Upload into to folder of the bucket.

[2018-04-30 04:45] cloudandcode opened #51 "Deployment via windows breaks folder paths on S3"
This is a:

* Bug report

---

### Expected behavior

When using Windows to deploy a dist folder that contains sub-directories, the file paths should translate to folders in S3.

ie. a file in dist\js\app.js within Windows should result in app.js being placed within a 'js' folder in the S3 bucket so that the relative path to that file becomes /js/app.js.

### Actual behavior

Using the example abo

[2018-04-30 05:10] fernando-mc commented on #51
@cloudandcode Makes sense. Can you open the PR? I can can merge & cut a patch tomorrow.

[2018-04-30 15:53] linusmarco commented on #51
@cloudandcode maybe we can make this fix a bit more general? Something like:
[code]

That way it's not a windows-only hack (that could screw things up for POSIX systems), but rather a generalized path -> AWS FileKey conversion.

[2018-05-01 00:17] fernando-mc commented on #51
@linusmarco Do you have an example of when that fix might break things? I thought it would only really change anything when a backslash was used?

From how I understand the suggestion it would just turn all of the`\` characters into `/` characters right?

If there's a more comprehensive way to do it with path separators and joining with the '/' character let's go for it.

Either way, I'll try to r

[2018-05-01 04:12] tahir-mm commented on #51
@fernando-mc  can we have this fix please, we are also facing same issue.

Scenario is, We have static site with folder structure, when we deploy to AWS bucket from window, its not creating folder inside AWS bucket but creating files at the root of AWS bucket with '/' containing name.

[2018-05-01 04:27] tahir-mm opened #52 "Control is not return back when hooking with other serverless plugin"
This is a:

* Bug report

---

### Expected behaviour

When using serverless-finch plugin with other serverless plugin (in our scenario custom build plugin) using hooks, serverless-finch not returning control back, due this we can not complete our other hooks which we want to execute after serverless-finch.

### Actual behavior
serverless-finch plugin should return control back if we are using thi

[2018-05-01 05:25] fernando-mc commented on #52
@tahir-mm Thanks for the bug report! Can you please open a PR for the proposed fix so I can review and merge it? I rely on community PRs to make updates as there are a lot of proposed fixes/improvements. I'll assign this issue to you for the moment until that PR is created and I or another maintainer can review and merge it.

In the meantime, if this was working in a previous version can you tempo

[2018-05-01 05:31] fernando-mc commented on #51
@tahir-mm Thanks for the heads up! This appears to be a breaking change from the significant refactor we did for version 2. Feel free to use v1 while we implement fixes for v2.

@linusmarco I think the proposed fix should work. It appears similar to what we used to do. You can see it in action here: https://github.com/fernando-mc/serverless-finch/blob/74774bec67944658514f4850dada0b1148a3e244/index

[2018-05-01 14:25] linusmarco commented on #51
@fernando-mc And yes, we do use the backslash replace elsewhere, but it's wrong there as well. I'll also fix that in the PR.

We've probably just not run into issues with this because it would be rare for a UNIX path to actually contain a backslash, but it theoretically could and we should be able to handle it.

[2018-05-01 18:51] fernando-mc commented on #51
@linusmarco ahh makes sense. I guess I hadn’t considered that (weird, but possible) case. Your proposed fix makes sense.

[2018-05-02 01:01] cloudandcode commented on #51
@fernando-mc Sorry, ended up migrating to Firebase hosting to serve my spa, much easier / quicker / feature packed than S3 / CloudFront.

[2018-05-02 02:29] #51 closed

[2018-05-02 02:35] fernando-mc commented on #51
@cloudandcode and@tahir-mm  this is now addressed in `v2.1.1` just pushed the new version.

Thanks to @linusmarco!

[2018-05-02 12:46] tahir-mm commented on #52
@fernando-mc I am unable to push my code because of permission error, please guide me how to push code.
I have created a branch from master and when I pushed its giving me permission error.

[2018-05-02 13:16] tahir-mm commented on #52
@fernando-mc I have created a PR, please review it. Thanks

[2018-05-02 13:18] linusmarco commented on #52
@tahir-mm You cannot push directly to the main repository. This makes sure that we can review all changes before incorporating them into the code base. The standard practice for contributing a change to a github repo is to create a fork on your own account, branch off of master on the fork, push, and then open a pull request. You can find instructions for how to do this here:

https://gist.github.

[2018-05-02 13:18] linusmarco commented on #52
Whoops, looks like you figured it out on your own. Great!

[2018-05-02 14:49] #52 closed

[2018-05-11 17:40] bebbi opened #55 "Doesn't upload at all?"
This is a:

* [] Feature request or change
* [x] Bug report

### Expected behavior

Works :)

### Actual behavior

I'm stumped by its behaviour.
bucket is created ok
no files are uploaded into bucket except the CF json
on changing files, says nothing changed.
bucket is private

### Steps to reproduce

Sounds like a strange issue. I reproduce it every time.
On macos, used 2.1.2 with sls 1.27.1 and

[2018-05-11 19:28] bebbi commented on #55
to be precise, it created a private serverless config bucket (name similar, mybucketname-serverlessdeploymentbucket-<id>, but not the public bucket with the actual name.

I dropped finch for a homegrown plugin where I have to add the resources into the yml file, but same parameters otherwise, and it worked fine.

[2018-05-12 06:12] bebbi commented on #55
Facepalm, and sorry, yes, it's the `client` command..

[2018-05-12 06:12] #55 closed

[2018-05-12 20:10] fernando-mc commented on #55
No worries @bebbi. Glad we figured this out!

[2018-05-15 03:07] trjstewart opened #56 "multiple sites for www redirect?"
Is it possible to deploy multiple buckets within the one `serverless.yml`? For example, i'd like to be able to deploy `domain.com` with the client files and `www.domain.com` to redirect to `domain.com` or visa versa.

If this isn't supported currently I'd definately be interested in adding it as a feature if there is intrest.

[2018-05-15 03:29] fernando-mc commented on #56
Hello @trjstewart. You're correct that this isn't currently supported, but we're always open to new contributions.

I believe you can setup a redirect from one bucket to another and then would only have to maintain a single bucket of files. There are additional things we could also add such as managing CloudFront distributions with the static sites. Happy to have any sort of PR on either.

I'll as

[2018-05-30 15:37] bebbi opened #57 "get bucket id for CF code?"
This is a:

Question

With my previous manual S3 bucket + CF distribution I had a line under `CF_resource/Properties/DistributionConfig/Origins`:

    - DomainName:
      'Fn::GetAtt': [ WebAppS3Bucket, DomainName ]

What's the best way to replace that with sls-finch plugin?

Thanks!

[2018-05-30 16:23] fernando-mc commented on #57
@bebbi not sure we have a good solution for Cloudfront distributions at the moment. Please feel free to put in a PR for additional functionality!

We currently have a request for something like this here - #40

[2018-05-30 16:23] #57 closed

[2018-05-30 21:35] kyledgreen commented on #3
Hi, I'm trying to setup Serverless to deploy my client stack which includes a S3 static site, a CloudFront Distribution, and Route 53 records for custom domain name for the CFD. It made sense using the s3 plugin since I could setup my 'stack' without the CI/CD portion that finch has added, but now on finch i dont get the separate stack initialization piece since the s3 bucket is not in the resourc

[2018-06-21 10:41] conanzxn opened #59 "Customisation of S3 bucket policy on deploy"
This is a:

Feature request or change

---
For feature requests or changes:

### Current behavior (if any)
The serverless-finch defaults public access as S3 bucket policy

### Proposed behavior
Customisation of S3 bucket policy

### Proposed implementation deatils (optional)

### Justification
With S3 bucket policy customisation, it would be more flexible.

[2018-06-21 10:50] conanzxn opened #60 "Deployed bucket cannot be removed from S3"
This is a:

* Bug report

---

For bug reports:

### Expected behavior
The deployed bucket is expected to be removed successfully.

### Actual behavior
The bucket cannot be deleted as the following error outputs.
`ServerlessError: The bucket you tried to delete is not empty`

### Steps to reproduce
`sls client deploy` then `sls client remove`

* **Operating system:** Ubuntu 18.04
* **serverless-fi

[2018-06-21 12:40] conanzxn commented on #59
Just noticed a PR #58 has been created for this already. I'm closing this issue now.

[2018-06-21 12:40] #59 closed

[2018-06-23 02:22] fernando-mc commented on #60
@conanzxn Thanks for bringing this up - I'll take a look. Can you do me a favor and check the bucket itself and let me know if it looks empty or not?

Also can you let me know if you have versioning setup on the bucket? Just trying to think of a few things that could be wrong so I can try them out when I'm debugging this eventually.

[2018-06-26 00:01] fernando-mc commented on #60
@conanzxn I need a teeeeny bit more info here just to save me some time trying to debug this. Any chance you can add some answers to the above?

[2018-06-26 09:39] conanzxn commented on #60
@fernando-mc Sorry for the late reply. There is no versioning setup on the bucket. The bucket is created by finch deployment from scratch. Once the bucket is created, I can neither empty the bucket or delete the bucket from the S3 web UI. I have to delete the bucket forcefully via AWS CLI.

Hope it helps!

[2018-06-27 05:00] fernando-mc commented on #60
@conanzxn Thanks for the context here! I'll do some testing and see if I can recreate it this weekend!

[2018-06-30 22:17] fernando-mc commented on #60
@conanzxn I can't recreate this myself. I'm able to delete the bucket. Can you do me one more favor and check if the bucket has a policy on it? After reading some more AWS documentation it appears like that might cause this error too.

Basically if you can't delete the bucket in the AWS UI while serverless finch _might_ have gotten the bucket into that state ultimately it's AWS that's not letting

[2018-07-04 15:58] tgfischer opened #62 "Build frontend with serverless.yml environment variables before deploying"
Hi,

I have used `serverless-finch` for a few projects, and it works really well. The one thing I wish that I was able to do was to be able to build the frontend through Serverless before deploying to S3. My frontend makes requests to a backend, which is another Serverless project. I'd prefer not to hardcode this endpoint in my frontend. I'd rather make a cross-stack reference to the `ServiceEndpo

[2018-07-10 14:51] romainquellec commented on #40
@lrholmes ! Any update on this ?

[2018-07-10 15:15] fernando-mc commented on #62
Hi @tgfischer! Thanks for asking about this, definitely sounds like a useful plugin. I remember having similar questions in the past and I think we opted to keep build functionality separate simply because there are a lot of different build systems and this particular plugin in mainly for deployment purposes. I would imagine both `serverless-build-client` and `serverless-finch` potentially being u

[2018-07-10 15:17] lrholmes commented on #40
Hey, really sorry about being quiet on this one. As much as I'd have loved to contribute, I didn't have a lot of time and was put off the idea slightly by the counter arguments put forward here, so decided to use another service for my static-site deployment.

Good luck with progression on this issue!

[2018-07-10 15:18] fernando-mc commented on #60
Unfortunately, I was unable to reproduce this while testing and need a bit more information in order to try to find a fix for this or associate it with Serverless Finch.

@conanzxn Please free to reopen after you have a chance to check the bucket's policy!

[2018-07-10 15:18] #60 closed

[2018-07-10 15:20] fernando-mc commented on #56
Hi @romainquellec! Feel free to help develop this too! I'll basically assign this issue to the first person who says they are working on developing the feature.

@trjstewart looks like there is community interest 😀! Let us know if you're interested in working on this.

[2018-07-10 15:50] fernando-mc commented on #40
@lrholmes Thanks for submitting the issue. I'm still inclined to support adding this so if you feel like submitting a PR in the future I'd be happy to review it.

CloudFront cache invalidation seems like a reasonable feature to have for static sites that frequently rely on CloudFront. There may be additional considerations to make but I think for the majority of users the easiest solution is just

[2018-07-10 15:52] traviscollins commented on #40
I want to state, somewhat emphatically, you should not do this. It will not go well for your users.

Cache invalidation on a global scale of CloudFront takes long periods of time, and will absolutely cause dependency issues for heavily trafficked sites. In addition, the CloudFront docs clearly state that this is not an appropriate use case for cache invalidation.

[2018-07-10 16:24] fernando-mc commented on #40
@traviscollins Definitely appreciate your feedback here. I think the missing context is that the current strategies available to appropriately pursue the best practices here require non-negligible amounts of work.

Take a typical static site generator like Hugo. There is currently no built-in support for versioned assets. This is an area I'm somewhat ignorant in, but as far as I'm aware the majori

[2018-07-17 00:58] linusmarco commented on #62
Hey @tgfischer! Sorry for the slow response. @fernando-mc is right--the solution we have for this at the moment is the `routingRules` configuration parameter. This allows your front end code to hit a relative endpoint (e.g. `api/getData`) and then S3 redirects that to your specified API Gateway endpoint. This has worked well for me, but it would be nice to put our heads together and think of a bet

[2018-07-19 04:30] zhammer commented on #40
i think @traviscollins' objections don't  apply to most SPA web clients, which i imagine a bunch of `serverless-finch` users are deploying.

a basic SPA `index.html` would look something like this: (this is from a `create-react-app` client)
[code]
let's say we have a live webste, finch.com, for which `index.html` and `static/js/main.123.js` are cached on a cloudfront distribution. (for the sake of

[2018-07-19 04:33] zhammer commented on #40
@fernando-mc: if the above is true, then i definitely think adding an invalidation option is worth it, since i imagine deploying SPA pages to s3 buckets / cloudfront distributions is a pretty common use case for `serverless-finch`.

(this is the invalidation request i send using the python cli after a new deployment:
`aws cloudfront create-invalidation --distribution-id DISTRIBUTION_ID --paths /in

[2018-07-19 10:31] traviscollins commented on #40
My objections comes from experience of having to reverse out a similar deployment architecture at a Fortune 50 company. It had huge impacts to the business, and was one of those “we learn from our nightmares” moments.

@fernando-mc having versioned JS and CSS is great and is exactly how the build should work. But there are some additional considerations for your example.

1) Cache invalidation doe

[2018-07-19 12:42] zhammer commented on #40
thanks for the follow up. what you're saying makes sense.

yeah that did cross my mind. `index.html` is a pretty tiny file.

👍

@traviscollins
is this the proper way to disable caching for `index.html`? https://stackoverflow.com/a/45734248.

[2018-07-19 12:45] zhammer commented on #40
also @traviscollins, re:

are you sure about this? seems like `index.html` is, by default, cached. in which case, disabling caching on certain assets could be a useful feature @fernando-mc

[2018-07-19 13:23] linusmarco commented on #40
@zhammer we already have the functionality to set `Cache-Control` headers on files 😃

[code]

This is what I use for all my SPAs hosted on S3. As discussed, this + versioned assets makes updates a breeze.

And as of v2.2.0, glob patterns are supported in the `objectHeaders` section of the config, so if you don't want to cache and html fules, just do:

[code]

[2018-07-19 14:19] zhammer commented on #40
@linusmarco ah, awesome. best type of issues are ones that have already been solved. i'll add this to my project.

[2018-07-20 02:40] stefan-lz opened #63 "Is it possible to deploy/copy files in a certain order"
Hiya, I would like to be able to deploy files in a certain order, specifically the `index.html` file after all the other assets have been copied over. This will decrease downtime, as all the assets will be resolvable as soon as `index.html` is served.

I've worked around this by deploying using these 2 commands:

[code]

with this config:

[code]

Am I missing an easier solution, or could this be

[2018-07-20 14:09] fernando-mc commented on #63
@stefan-lz I don't think we currently support ordering for the file uploads but that doesn't mean we can't. Your workaround seems pretty clever and functional to me. But I think we'd be happy to accept something that simplifies the process.

[2018-07-25 12:41] anthony-o commented on #56
For information, the base documentation for this is [here: "Step 2.3: Configure Your Website Redirect"](https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html#root-domain-walkthrough-configure-redirect).

[2018-07-26 00:29] stefan-lz commented on #63
@fernando-mc ok cool, I'll have a think how to support this and try come up with something.

[2018-07-31 07:34] amitm02 opened #65 "Setting up a domain name for site"
Awesome project.

Is there way to set up a domain name for the deployed site?
Can i make it play nice with serverless-domain-manager plugin?

[2018-08-13 22:58] #65 closed

[2018-08-22 14:40] fernando-mc commented on #63
This is live in v2.3.0 which is building and deploying now.

[2018-08-22 14:40] #63 closed

[2018-09-14 16:59] wordyallen opened #66 "Not Recognizing Pseudo Parameter"
This is a:

* [x] Feature request or change
* [] Bug report

---

For bug reports:

### Expected behavior
<br/>
<br/>
<br/>

Using `serverless-pseudo-parameters` pluging

[code]

should create a bucket with name: `dev-admin-dashboard-0123456`

### Actual behavior
<br/>
<br/>

Tries to create buck with name:

`dev-admin-dashboard-#{AWS::AccountId}`

and fails.

### Steps to reproduce

* **Operating

[2018-09-14 17:12] fernando-mc commented on #66
@wordyallen looks like a cool plugin - I've never used it before. Thanks for bringing this to our attention!

Are you convinced this is an issue with Serverless Finch or it it possible serverless-pseudo-parameters doesn't support the parameters for other plugins?

If you isolate the issue and open a PR I'm happy to merge a fix!

[2018-09-25 01:35] sprockow commented on #3
Is anyone still working on this? Also, would it be worth trying to integrate this with an existing cloudfront serverless plugin, like https://github.com/Droplr/serverless-api-cloudfront?

I imagine that placing lambda-powered api endpoints and a s3 site behind a single cloudfront distribution to be a common use case. I imagine that the first missing integration piece is getting the bucket arn as a

[2018-09-27 04:47] fernando-mc commented on #3
@kyledgreen sorry about the delay here. The use case makes sense to me. I'm not opposed to having something like that added. Seems like you could specify that no files be uploaded and then add a config value to have a function run to output all that metadata. The outputting to the CI/CD solutions would probably be the most tricky. It might end up being easier to use CloudFormation in the serverles

[2018-10-07 00:38] sprockow commented on #3
Just saw this. Yeah, I think I'll take a look this weekend.

[2018-10-08 22:03] florianherrengt opened #67 "deploy to `staging` and `production`"
This is a:

* [x] Feature request or change

---
For feature requests or changes:

### Current behavior (if any)

Removed "stage" command-line option. It was not being used for anything

### Proposed behavior

Bring it back

### Justification

Hey guys, thank you so much for your hard work. Since you removed the stage option, how do we deploy to `staging` and `production`?

[2018-10-08 22:08] fernando-mc commented on #67
Hi @florianherrengt, great question! Right now, probably through two different configurations. In the future we could definitely bring the option back - it just didn't do anything before.

If you'd like to work on a PR to bring it back and have it actually do something I'm all for it!

[2018-10-08 22:10] florianherrengt commented on #67
Hi @fernando-mc, thanks for your reply. There is still the option of using
[code]
I understand it might be redundant but I feel `--stage` was more consistent with the serverless CLI.

[2018-10-08 22:33] fernando-mc commented on #67
@florianherrengt Either or both of those options sounds fine to me! The issue was that there was no code to deploy to a separate bucket name for example. Do you feel comfortable updating the plugin to provide this functionality?

[2018-10-30 08:30] artoliukkonen commented on #67
I don't think the plugin needs to support `--stage`, since if it's required by the app it's easy to define it in serverless config. I'm using:

[code]

Might be worth mentioning this example in README tho.

[2018-10-30 14:56] fernando-mc commented on #67
@artoliukkonen @florianherrengt A README update sounds good to me. I'll merge a PR from either of you, just be sure to post back here to save the other one work.

From what I remember, the behavior of the plugin currently wont change at all with a --stage param so just reminding folks they can add stage with the Framework's config itself is probably a smart idea. Especially if you're already doing

[2018-11-02 01:28] joshpassenger opened #69 "Option to make AWS bucket content public rather than make a whole bucket public by bucket policy"
This is a:

* [X] Feature request or change

### Current behaviour

Finch allows creation of public buckets by bucket policy change but this is actively frowned upon due to known issues in users adding private files to public buckets, individual objects that are public should be made public.

### Proposed behaviour

Add a flag that allows objects to be made public, this can be used in conjunction

[2018-11-02 01:32] joshpassenger opened #70 "Add option for excluding files to deploy"
This is a:

* [X] Feature request or change

### Current behaviour

Finch deploys all files by default, including .DS_Store files

### Proposed behavioir

Add option to exclude files to deploy by glob pattern

### Justification

Lots of temporary files exist .gitignore, .DS_Store etc please consider an options for excluding these

[2018-11-02 04:38] fernando-mc commented on #69
@joshpassenger Bucket policy appears to be the preferred method of giving public read permissions to a static site. https://docs.aws.amazon.com/AmazonS3/latest/dev/website-hosting-custom-domain-walkthrough.html

I don't think I see ACL permissions for static sites anywhere? Maybe you can point me to the part of the docs that recommends ACLs so I can read more?

[2018-11-02 04:42] fernando-mc commented on #70
@joshpassenger sounds like a decent feature. You're welcome to open a PR that supports this and I'll review/accept. One thing I am curious about is why this shouldn't be handled by the build process itself? I imagine the .gitignore at the root of the repo which means you would be deploying a submodule in this case then?

Either way, seems like this makes sense as a general feature, thanks for the

[2018-11-02 06:05] joshpassenger commented on #69
Hi there, this can be done either as [objects are put into the bucket](https://docs.aws.amazon.com/cli/latest/reference/s3api/put-object.html):

    aws s3 cp index.html s3://mybucket/ --acl public-read

Or after the fact using [put-object-acl and specifying public-read](https://docs.aws.amazon.com/cli/latest/reference/s3api/put-object-acl.html):

    aws s3api put-object-acl --bucket mybucket --k

[2018-11-02 06:46] joshpassenger commented on #69
After deployment and using public objects you can then access the site over SSL using the url in the format:

https://<region>.amazonaws.com/<bucket>/index.html

If you don't rely static website hosting and use hashing for your routing strategy that is.

[2018-11-02 06:51] joshpassenger commented on #70
Hi @fernando-mc I'll have a look at the complexity of implementing it!

It was more for dev deployments from my local machine, I have a .gitignore which would prevent these files from making it to a CICD server via git checkout.

[2018-11-02 06:52] joshpassenger commented on #70
Assign it to me?

[2018-11-02 07:09] joshpassenger commented on #69
As a work around is there a lifecycle hook for after serverless client deploy I could use to trigger a script using serverless-plugin-scripts?

I am already adding CORS to a bucket created from Lambda S3 event wiring using:

scripts:
    hooks:
      # Force a CORS policy onto the videos bucket via the AWS CLI
      'after:aws:deploy:deploy:updateStack': "aws s3api put-bucket-cors --profile transc

[2018-11-04 03:33] fernando-mc commented on #70
@joshpassenger done! Thanks for the reminder 😁

[2018-11-04 03:49] fernando-mc commented on #69
Hi @joshpassenger thanks for asking about this - I'd like to be sure to clarify your use case here and I also wanted to give you some initial context first. The plugin's current focus is to help enable the deployment of static websites to S3. From what I understand, this implies that the entire content within a bucket will be public. That's my understanding from reachin over the AWS docs - https:/

[2018-11-04 09:05] joshpassenger commented on #69
Hi @fernando-mc I have a nice workaround now using the function below (sharing in case the implementation is interesting for you) so please just close this for now I agree I have a fairly narrow use case but I do expect public buckets to lose favour moving forward, just a heads up!

[code]

[2018-11-04 17:50] fernando-mc commented on #69
@joshpassenger ok! Thanks for posting this in case it helps folks in the future.

I think static websites are the exception that prove the rule in some senses in relation to S3 buckets because I agree that you want to restrict permissions as much as possible. In the case of static websites buckets though normally I assume the files are meant to be public.

Thanks again for your thoughts here!

[2018-11-04 17:50] #69 closed

[2019-01-09 19:05] malnor opened #72 "Add support for eu-north-1 (Stockholm)"
It seems like lib/resources/awsRegionUrls.json should include eu-north-1, maybe there is something more missing.

[2019-01-10 18:56] fernando-mc commented on #72
@malnor Nice! Yep looks like that got released a month ago and we never added it.

Do you mind putting in the PR?

[2019-01-25 20:20] EgidioCaprino opened #73 "Specify key prefix"
This is a:

* [x] Feature request or change
* [] Bug report

---

For feature requests or changes:

### Current behavior (if any)
Files can only be uploaded at the root level of the S3 bucket.

### Proposed behavior
An option to specify a key prefix so files could be uploaded in a subfolder.

### Justification
I'm not using this plugin for hosting a website but rather for hosting static assets of

[2019-02-01 14:02] jazblueful opened #74 "Doesn't upload to s3, no console output"
This is a:

* [x] Bug report

---

For bug reports:

### Expected behavior
serverless finch tries to upload files from build folder to s3 bucket and serverless outputs something to the console.

### Actual behavior
nothing gets uploaded, there is no output to console.

### Steps to reproduce

* **Operating system:** Ubuntu 18.04
* **serverless-finch version:** 1.3.1
* `serverless.yml` **that produ

[2019-02-05 03:00] fernando-mc commented on #3
@sprockow are you still interested in this?

[2019-02-05 03:04] fernando-mc commented on #73
@EgidioCaprino I think this could be a good suggestion. I assume the expectation for that sort of deployment would still be public accessibility?

I'm open to PRs that add this functionality so if you or others are interested please go for it (just claim it here so we can keep track of it)

[2019-02-05 06:02] sprockow commented on #3
@superandrew213 - it's been a really long time since I've looked at this project. I am interested, and I do have more bandwidth now than last year, so I will commit to at least unearthing my notes from October.

@superandrew213 - Fullstack-serverless does set up an cloudfront cdn and s3 bucket pair, but it lacked some of the additional s3 specific features that this plugin provided, which is why I

[2019-02-07 21:22] mend3 commented on #40
A way to do this would be in your **package.json** as a script with Git/Bitbucket pipelines for your master branch:

Dependencies:
- "aws-iot-device-sdk": "^2.2.1"
- "aws-sdk": "^2.387.0"

Create the script:
"s3:invalidate": "aws cloudfront create-invalidation --distribution-id YOUR_DISTRIBUTION_ID --paths \"/*\""`

Set the pipeline (in my case, I'm using bitbucket, so set in **bitbucket-pipelines

[2019-02-11 04:09] sprockow commented on #3
So, a couple questions about approach...

The most flexible way of achieving the ability to create a cloudfront distribution for this bucket, would be to give users the ability to opt out of having the plugin create the bucket for us, and instead leverage cloudformation via the serverless.yml 's "Resources" section. This way, a user can set up the bucket, and cdn exactly how they want via Cloudfor

[2019-02-11 04:10] sprockow commented on #3
I can put together a PR with the above + an example of how a serverless project could use this new behavior.

[2019-02-12 03:30] sprockow commented on #3
#75 - Here's my first draft PR. Let me know if you think this is an acceptable strategy, and I can put some effort into refining it and adding some readme docs.

[2019-02-12 05:12] sprockow commented on #3
Here's an example on how I would use severless-finch with this sort of flag: https://github.com/sprockow/serverless-finch-example

[2019-02-14 04:50] igoodrich commented on #74
FWIW, I recently upgraded to the latest serverless (at time of writing 1.37.1) after ignoring upgrades for several months and it broke serverless finch deploy.  I had to back track to version 1.32.0 before it worked again (uninstalling and reinstalling serverless until it worked).  1.32.0 was only in September, so...

Here are all the releases:
https://github.com/serverless/serverless/releases

@j

[2019-02-21 19:32] vitorenes commented on #74
I just ran into this issue, and thanks to the kindness of the plugin developer (many thanks, Fernando!) we were able to work around the issue, which by the way, is that the latest version of the serverless framework breaks serverless-finch.
What I did to work around the issue was:
1) Removed (actually, "obliterated" 😂 ) serverless-finch first of all, using:
`npm remove serverless-finch
npm uninsta

[2019-03-04 17:32] Vandivier commented on #65
related: https://github.com/amplify-education/serverless-domain-manager/issues/108

[2019-03-15 16:48] fernando-mc commented on #74
@jazblueful I started testing this only to realize that you're using version 1.3.1 of the plugin? Does this still fail on the current version (v2.3.2)?

@igoodrich can you let me know what combination of the plugin and the framework worked for you? Were you also using an older version of the plugin? If possible, can you open a ticket if the recent versions of both the framework and the plugin no l

[2019-03-15 16:49] #74 closed

[2019-03-15 16:53] emsearcy commented on #74
btw, I came across this issue searching for the "same" problem, but realize it was because I had assuming the plugin triggered on a regular "serverless deploy" ... once I read the docs more closely and used "serverless client deploy" it worked as intended. 😄

[2019-03-15 17:09] fernando-mc commented on #74
@emsearcy It happens surprisingly often 😆 - You're not alone. Thanks for adding that for future readers just in case.

[2019-03-19 23:31] fernando-mc commented on #73
This is solved by #76 and will be included in the next release.

[2019-03-19 23:31] #73 closed

[2019-03-19 23:31] fernando-mc commented on #73
@EgidioCaprino thanks for the suggestion!

[2019-03-19 23:34] fernando-mc commented on #3
This is now solved by @sprockow 's PR #75

It will be in the next release.

[2019-03-19 23:36] fernando-mc commented on #3
This is *partially* solved by @sprockow's PR in #75 .

We still don't do much with CloudFormation or Route 53 so I'll leave this open in case folks want to add functionality there later.

[2019-04-22 19:17] NoamKoKo opened #78 "Feature request: Support serverless offline"
## This is a feature request.

### Current behavior:
Running serverless offline (using the plugin `serverless-offline`) does not host the static files.

### Proposed behavior:
Running serverless offline will host it in such manner that requesting `localhost:3000` will return the `index.html` file.

[2019-04-22 19:24] fernando-mc commented on #78
@NoamKoKo Correct me if I'm wrong but maybe this should be a request for the serverless-offline plugin?

[2019-04-22 19:32] NoamKoKo commented on #78
You might be right, I am quite new to both Serverless framework and Github.
Is it something you can't control?
Because then we have no choice but request it from the serverless-offline plugin.

[2019-04-22 19:44] fernando-mc commented on #78
@NoamKoKo No worries. While we could *theoretically* add a feature to run a local server that serves the content locally it isn't really in the scope of the `serverless-finch` plugin.

I think this would make more sense to put in `serverless-offline` as I think the purpose of that plugin will fit better with your request. You can open a feature request on that plugin here: https://github.com/dhera

[2019-04-22 19:44] #78 closed

[2019-06-18 17:38] frattaro opened #81 "feat: automatic gzip"
This is a:

* [✓] Feature request or change
* [] Bug report

---

For feature requests or changes:

### Current behavior (if any)

Specified files are uploaded as-is.

### Proposed behavior

Option to gzip before sending.

### Justification

I turn off manage resources because I'm already creating the bucket in the serverless.yml. serverless-finch is very useful to specify a source directory and m

[2019-06-20 01:37] fernando-mc commented on #72
@malnor Want to add this in?

[2019-07-05 19:29] allanparsons opened #83 "Add support for S3 VPC-only endpoints"
This is a:

* [] Feature request or change

For feature requests or changes:

### Current behavior (if any):
Current spec allows us to send in a BucketPolicy to restrict access to either IPs or VPCs.  What we would like is for us to explicitly only listen / setup the bucket on the PRIVATE interface and attach that in a private VPC to limit public traffic.  PR#59 only handles accomodating a bucket

[2019-07-05 20:31] fernando-mc commented on #83
It seems like this is partially supported by the current bucket policy implementation? You should be able to specify the bucket policy manually so that it is not public and will allow requests from the intended VPC?

I can see this being done if you use a policy like this one here - https://docs.aws.amazon.com/AmazonS3/latest/dev/example-bucket-policies-vpc-endpoint.html#example-bucket-policies-re

[2019-08-14 05:09] victormacko opened #85 "Using keyPrefix results in an XML not well-formed or not validated error"
This is a:

* X Bug report

---

For bug reports:

### Expected behavior
Using the 'keyPrefix: ...' param, i'm expecting the dirs and files in the bundles dir to appear in the bucket, underneath within the 'bundles' prefix (configured below) (eg. mybucket/bundles/abcd ... etc)
Eg;
custom:
  client:
    bucketName: mybucket
    distributionFolder: public/bundles
    keyPrefix: bundles

### Actual b

[2019-08-14 14:32] ol-ko opened #86 "Deep upload paths specified with keyPrefix get resolved incorrectly"
This is a:

* [ ] Feature request or change
* [x] Bug report

### Expected behavior

Specifying a deep path in a `keyPrefix` option (e.g. `'a/b'`) results in uploading files to `<s3-bucket-base-url>/a/b` folder.

### Actual behavior

Currently when a deep path is specified via`keyPrefix` (e.g. `'a/b'`) files get uploaded to a folder with the name, consisting of a comma-separated parts of the speci

[2019-08-15 07:35] ol-ko commented on #86
Here's a PR with the suggested fix: https://github.com/fernando-mc/serverless-finch/pull/87

[2019-08-15 15:28] fernando-mc commented on #86
Excellent. Thanks so much for the explanation/demonstration and PR. I'll push this in the next version!

[2019-08-15 15:29] #86 closed

[2019-08-21 11:21] ahderman commented on #86
@fernando-mc Do you have an estimated date for the next release that will include this change?

[2019-08-21 20:09] fernando-mc commented on #86
Just pushed a new version @ahderman

[2019-08-21 20:20] fernando-mc commented on #86
Changes should be live in v2.4.3.

On Wed, Aug 21, 2019 at 4:21 AM ahderman <notifications@github.com> wrote:

[2019-08-22 12:35] hequ opened #88 "Use custom cors configuration"
This is a:

* [x] Feature request or change
* [ ] Bug report

### Current behavior (if any)

Serverless-finch will override s3 bucket CORS configuration or it does not touch the configuration at all.

### Proposed behavior

User can provide custom CORS configuration for the bucket the same way as `bucketPolicyFile` works.

### Proposed implementation details (optional)

Add new configuration setti

[2019-09-06 17:42] fernando-mc commented on #88
If you think this is a use case not currently covered well enough by:

--no-config-change and the `bucketPolicyFile` option I'm open to a PR @hequ.

[2019-09-06 17:44] fernando-mc commented on #85
@linusmarco got any time to take a look at this?

[2019-10-23 16:51] damien-monni commented on #85
I had the same problem. It seems that it happens when the bucket already exists without the keyPrefix folder created yet. But I have not time to look deeper. I deleted the entire bucket, run serverless `client deploy...` and it worked.

[2020-01-07 18:25] fernando-mc commented on #40
@traviscollins @zhammer @linusmarco

Hello again! Did we ever come to a conclusion here? It sounds like we brought up a few development patterns with the cache control object headers and updating the javascript references in something like a non-cached index.html.

But (correct me if I'm wrong here @traviscollins) it still seems like there is a use case for invalidating at least some objects in Cl

[2020-01-21 00:53] gjimenezv opened #92 "client config defined in custom file"
This is a:
* [x] Bug report

---

**serverless.yml**
`custom: ${file(config.yml)}`

**config.yml**
[code]
### Expected behavior
Should read client config from custom file
### Actual behavior
Throws and exception

### Steps to reproduce

* **Operating system:* Mac OSX 10.14.6 (Mojave)*
* **serverless-finch version:*2.5.2*
* `serverless.yml` **Whatever file with that configuration:**
* **Command tha

[2020-01-23 23:45] rstittda commented on #56
@fernando-mc  I have a working branch that deploys to multiple buckets. I've been testing against my own s3 buckets but not sure how to go about using yours to submit a pull request?

[2020-01-24 00:01] fernando-mc commented on #56
@rstittda That's great! Ahh darn, did I leave them already created again? We still need to fix some of those tests. You can put in a PR for this and I'll be happy to take a look at it.

[2020-02-19 17:24] tgallacher opened #94 "Switch upload from S3 putObject to S3 upload"
This is a:

* [x] Feature request or change
* [ ] Bug report

---

For feature requests or changes:

### Current behavior (if any)

Although we are leveraging Node's async I/O via `Promise.all` call, as we use AWS S3's `putObject` call, files are processed serially on S3's end.

### Proposed behavior

Switch to use AWS' S3 "[managed upload](https://docs.aws.amazon.com/AWSJavaScriptSDK/latest/AWS/S

[2020-02-19 18:18] fernando-mc commented on #94
@tgallacher Great suggestion! Please do put in a PR for this, I'd love to be able to include a performance improvement like this in the next version!

[2020-02-19 18:21] fernando-mc commented on #94
@tgallacher One main question to determine how we push this out:

This would just change the method of upload to make it faster right? Do you know if there would there be any increase in S3 cost using the different method with your changes?

[2020-02-20 09:26] tgallacher commented on #94
Hey @fernando-mc. As far as I can tell this should not impact the upload cost -- unless you opt for the already supported "accelerated S3 endpoint". This would be just a change to the upload method, to support multipart uploads.

Happily give this a try and let you know. Is there any test coverage areas that you would require for this?

[2020-02-20 16:47] tgallacher commented on #94
Ok. I've done some quick initial testing and it isn't as exactly as I original understood it.

Switching to the `upload` S3 method will be very useful for files that are large (I think the default threshold is > 5MB). In those cases, the `upload` method chunks the file into smaller pieces and uploads them concurrently.

But for smaller files, it basically defaults to the `putObject` call which you

[2020-02-20 22:12] fernando-mc commented on #94
@tgallacher thanks for doing the research here! I wouldn't be very worried about the chunked objects costing too much more than the original but if it will only really benefit very large files I'm not sure how much of a performance improvement it would bring? I feel like this plugin is primarily used for static websites and I don't know how many sites will have bigger files.

If you test this and

[2020-02-21 09:13] tgallacher commented on #94
Yeah. I agree. I don't believe this is worth the change. I'll close for now. Thanks

[2020-02-21 09:13] #94 closed

[2020-03-16 07:19] itsjesseyo opened #95 "Add support for tags"
This is a:

* [X] Feature request or change

For feature requests or changes:

### Current behavior (if any)
Currently tags, or stackTags do not propagate to the created s3 bucket.

### Proposed behavior
I'd like the tags tag supported and to update when change similar to how bucketpolicy works

### Proposed implementation details (optional)
Feel free to point me in the direction of  how to do thi

[2020-03-16 17:10] fernando-mc commented on #95
Hi @itsjesseyo! Thanks for the suggestion, you're welcome to add a PR for this. Would this end up allowing tagging just on the bucket itself or would you expect tags for every object inside of it?

[2020-03-18 03:22] itsjesseyo commented on #95
There is a command for tagging  each object, but tagging the bucket would be adequate for most people. If we need object level tagging, I can add that as well.

PR  submitted.

[2020-03-18 03:30] itsjesseyo opened #97 "pre and post build commands"
This is a:

* [X] Feature request or change

---

For feature requests or changes:

### Current behavior (if any)
There does not currently  seem to be a way to call custom functions before or after a deploy.

### Proposed behavior
I'd like to add the  ability for a developer to  add an array of commands, which will be called before or after the deployment

### Proposed implementation details (opti

[2020-03-19 01:21] fernando-mc commented on #97
Just commented on the PR, but would this be similar to this plugin: https://github.com/mvila/serverless-plugin-scripts

[2020-03-20 07:48] hequ commented on #88
Sorry, I have not (for some reason) seen this PR until now. I'll see if I can take some time to submit a PR for this. :)

[2020-03-20 18:19] itsjesseyo commented on #97
I answered in the PR.

[2020-03-23 02:06] fernando-mc commented on #88
@hequ Awesome! Thank you! As long as you take a look at those two options and confirm for me that it'll be adding new functionality here I'm 100% open to this. Sounds like a good addition from first glance that I don't think we have in the plugin.

[2020-04-10 09:44] PierrickI3 opened #99 "Upload zip instead of each file one by one?"
This is a:

* [x] Feature request or change
* [] Bug report

---

For feature requests or changes:

### Current behavior (if any)

Currently uploads each file one by one. My build folder has 500+ files and I reach the free tier limit (2000 PUT/POST S3 requests) quickly.

### Proposed behavior

Can serverless-finch upload a zip file then uncompress locally (just like serverless does for Lambda func

[2020-04-10 19:16] fedeiglesias opened #100 "Incompatibility with serverless CI/CD service"
Compat with serverless CI/CD service

Serverless CI/CD run 3 commands
- npm install
- npm run test
- serverless deploy

We **[cannot change this commands, but we can create hooks](https://serverless.com/framework/docs/dashboard/cicd/custom-scripts/)** before and after each one adding `preinstall`, `postinstall`, `pretest `and `posttest `custom scripts to package.json. Also using serverless-plugin-

[2020-04-13 15:44] fernando-mc commented on #99
Hi @PierrickI3,

Happy to take a look at this if you think there are API options here that might accomplish it. I'm not sure that S3 supports this sort of approach at the moment?

[2020-04-13 15:45] fernando-mc commented on #100
Thanks for submitting this @fedeiglesias! I'll look into how the credentials are made accessible there and get back to you on how this gets implemented.

[2020-04-13 17:01] PierrickI3 commented on #99
Hi @fernando-mc , thanks for getting back to me.

Uploading a zip file then uncompressing it requires a lambda function that needs to be triggerred to uncompress the file in the same bucket or in a different one.

Could you maybe add a `--zip` option to upload one compressed file instead of uploading each file separately. This way, we could add notes in the README on creating a Lambda function tha

[2020-04-14 06:47] fernando-mc commented on #99
I guess I'm not entirely sure what this would resolve? Where would the zip file go? Lambda /tmp storage? S3 itself?

Either way, I think Lambda still has to unpack the zip file in /tmp and then upload it to S3 file by file?

Can you write out the SDK call flow you think would make sense here and showcase how it might save on cost? I know network data costs are a thing in AWS but I'm not sure how m

[2020-04-14 07:42] PierrickI3 commented on #99
From my point of view (unless I'm wrong), uploading a zip file is only one PUT request. Then, AWS does not charge when copying files from bucket to bucket.

So, the flow goes like this:
* Upload a zip file of ./build to a bucket
* Set up a Lambda function that is triggered when .zip files are uploaded in that bucket
* Lambda will then uncompress all files

You could eventually use a separate bucke

[2020-04-14 15:15] fernando-mc commented on #99
But how would Lambda uncompress the zip? I don't think you can treat S3 like an attached drive to Lambda?
https://forums.aws.amazon.com/thread.jspa?threadID=46575
https://www.quora.com/How-do-I-extract-a-zip-file-in-Amazon-S3

This might be an option - https://medium.com/@johnpaulhayes/how-extract-a-huge-zip-file-in-an-amazon-s3-bucket-by-using-aws-lambda-and-python-e32c6cf58f06

But I'm still uns

[2020-04-14 15:18] PierrickI3 commented on #99
It will be indeed very similar to the option link you added in your comment.

Lambda functions can be set to monitor files with specific filetypes (e.g. `.zip`) and start when a file that matches is added. The Lambda function can then take the file and unzip it.

[2020-04-14 21:06] fernando-mc commented on #100
@fedeiglesias I'm not able to reproduce this? I'm testing with this service here:
https://github.com/fernando-mc/serverless-frontend-backend

I have a connected AWS account using Deployment Profiles. Can you share more details of your configuration with me? You're welcome to DM me in the Serverless Slack: serverless.com/slack

My ID is `UMZ8N7ZRQ` (There are multiple imposters all claiming to be t

[2020-04-14 23:03] fernando-mc commented on #99
If this were being uploaded to an EC2 instance for hosting I'd agree this was an important thing to do. But I'm not convinced this addresses your original concern?

Option 1 (current workflow)
1. Upload every file and pay for all the putObjects for all objects

Option 2 (zip workflow we're discussing)
1. Upload the zip to S3/Lambda
2. Unzip the contents
3. Then make all the same put requests that

[2020-04-15 11:02] fedeiglesias commented on #100
@fernando-mc  i tried to fork from your repo but serverles CI/CD give this error:

**Choose a repo with at least one serverless.yml in it.**

I dont know why... i tried modifiying the serverless.yml file but i cannot make it run.
So, i create a clean repo in github using the same config as yours and this time serverless dash dont give me the error.

[https://github.com/fedeiglesias/serverless-finc

[2020-04-15 11:08] el2ro commented on #99
Hi, I just had the same "problem" and found this. Yes free tear runs out fast (500+ items in static web page)

I was hoping that it would make it cheaper, but price might be the same?

Option1:
 - Well pricing is pretty cheap anyway like ~0.005$ / 1000 put items, so it might not be worth the changes.
Option2: (zip flow)
 - Only benefit could be that it would be faster to transfer. I assume, it wou

[2020-04-15 11:42] PierrickI3 commented on #99
@fernando-mc as long as the S3 buckets (source and target) are in the same region, there is no extra cost for copying between S3 buckets.

so your Option 2 seems the valid option for me.

[2020-04-15 14:27] fernando-mc commented on #99
@el2ro Would it be faster to transfer? You're essentially doing the process twice. Once with the zip, then unzipping, then running the S3 PUTs from Lambda instead of locally. Even if you stuff it in the Lambda function package (which is a serious hack) you still have to then run a copy from there to S3.

@PierrickI3 I think it might save on data transfer costs like I was saying earlier, but don't

[2020-04-15 14:37] fernando-mc commented on #100
@fedeiglesias Two things here - first, the reason that you might have had issues with the fork is that I think the CI/CD doesn't really support CI/CD of forks at the moment. If you change it to an unforked repo you should be able to get it setup.

The second part relating to the credentials is that I would expect you to have a [profile](https://serverless.com/framework/docs/dashboard/profiles/ ) s

[2020-04-15 19:19] fedeiglesias commented on #100
@fernando-mc  as you said, there was `app `and `org` value in `serverless.yml`.
Thank you for your big help!!!

[2020-04-15 19:19] #100 closed

[2020-04-16 14:44] el2ro commented on #99
I did some quick test setup. Just modified how finch code works, to compress files and upload zip. Added lambda function to do the uncompress. Adding lambda and running lambda is manual task.

Codes: https://github.com/el2ro/serverless-finch
Results: https://github.com/el2ro/serverless-finch/blob/master/test/zip_test/README.md
Roughly 50% faster when zipping files (with my client/dist files and my

[2020-04-20 14:36] el2ro commented on #99
I am still a bit tempted to try out the simplified **Option3**

- First time it would work as is, but it would write down locally(or to S3) the .cache file having MD5 from all the transferred files.
- Next time, it would first check if .cache locally (or from S3) file exists and compares files MD5 before sending.
This allows to send only changed files so it would possible bring the DEV round up ti

[2020-04-20 20:37] fernando-mc commented on #99
@el2ro Nice work here testing this out and showcasing the improvements.

As far as an MVP I think that demonstrates an improvement as far as speed goes. Pricing wise I still things this ends up being more expensive, but it could very well be a faster option as transfer acceleration might not even be relevant for many static websites (I found out recently [it prohibits periods](https://docs.aws.ama

[2020-04-20 20:38] fernando-mc commented on #99
To summarize my above comments, I think the `Creating md5 sums for all the files and uploading only changed files` might be a good intermediary step that can be implemented now.

But I am wondering how the Lambda function would support all the current functionality/options/config of the plugin?

[2020-04-22 06:13] el2ro commented on #99
I am pretty much following your thoughts.

I think that it would be better to leave out the Lambda functionality. It does not give enough benefits compared to all the troubles it presents.

I agree that using a hash file approach can cause some nasty syncing issues, but there should be user check weather use versioned upload or not. There is one more benefit that could be bundled into this approac

[2020-04-22 22:26] josephnle commented on #85
It seems that the issue might be with the content deletion. I can get around this with `--no-delete-contents`.

[2020-06-02 17:51] gipsh commented on #88
#103

[2020-06-17 09:17] Koli14 opened #104 "How to use npm package on frontend"
I wan't to use a [polyglot](https://github.com/airbnb/polyglot.js) on my front-end. How can I add it?
I tried  `npm install node-polyglot`, and then `import 'node-polyglot'` in the top of my `main.js` file, but it was not working.

[2020-06-21 18:22] #85 closed

[2020-07-29 15:26] souravs-2pirad commented on #66
Facing same issue. Please fix.

[2020-07-29 16:15] fernando-mc commented on #66
Hi @souravs-2pirad, happy to review any PRs you have that might fix the issue, cheers!

[2020-08-01 21:37] shinglyu opened #105 "Change the default CORS to allow http://*.amazonaws.com instead of HTTPS"
This is a:

* [x] Feature request or change

For feature requests or changes:

### Current behavior (if any)
The default CORS setting is allowing PUT, POST and DELETE from `https://*amazonaws.com`

### Proposed behavior
Change it from `https://*amazonaws.com` to `http://*.amazonaws.com` (no SSL)

### Proposed implementation deatils (optional)

### Justification
As far as I know, only EC2 exposes `

[2020-08-17 11:06] carlcheel-sage commented on #67
This wasn't immediately clear to me, so thought I'd update this issue.

To set the stage, you can use the following command `serverless --stage=qa client deploy`

[2020-08-20 23:21] Kinfol opened #106 "Serverless command "client" not found"
I am running the command serverless client deploy --region us-west-2

I get.

Serverless command "client" not found

[2020-08-28 07:57] junjettrasmonte commented on #56
I was able to deploy to multiple buckets without any changes to this package.

[code]

my file structure is
[code]

then to deploy
[code]

[2020-08-28 08:05] junjettrasmonte commented on #7
@Akababa

I'm doing selective deploy like this it helps.

[code]

my file structure is
[code]

then to deploy via cli
[code]

[2020-09-17 03:10] StephaneP commented on #106
did you install the plugin and then add finch in your serverless.yml plugins section? if not thats the problem

[2020-09-17 03:13] StephaneP commented on #104
might want to use webpack or parcel to package your js

[2020-09-23 18:49] lionheart2013 commented on #60
@fernando-mc , I am receiving this weird error "Could not find '/service-name/build' folder in your project root". This happens on github CICD setup. Deleting a branch should trigger a cleanup process unfortunately I am getting the error above. Weird thing is, these commands: sls deploy and sls remove works on my local machine but failed on CICD setup.

[2020-09-23 18:54] lionheart2013 opened #108 "Could not find '/service-name/build' folder in your project root"
This is a:

* [] Feature request or change
* [x] Bug report

---

For bug reports:

### Expected behavior
remove stack created via Preview Deployment(CICD) upon branch deletion.
### Actual behavior
removed Failed: Could not find '/service-name/build' folder in your project root
### Steps to reproduce

* **Operating system:**
* **serverless-finch version:**
2.6.0
* `serverless.yml` **that produces

[2020-09-23 21:35] fernando-mc commented on #108
It sounds like you're having an issue with the framework itself or the serverless.com features but not with this plugin?

"Remove stack created via Preview Deployment(CICD) upon branch deletion."

This plugin doesn't touch CloudFormation so there would be no issue relating to CloudFormation Stacks. I would suggest opening an issue here: https://github.com/serverless/serverless

Let me know if I mi

[2020-09-23 21:35] #108 closed

[2020-09-23 21:36] fernando-mc commented on #106
Thanks for jumping in here @StephaneP! That is exactly what I would have suggested and most likely should solve the issue. Closing this for now but @Kinfol feel free to reopen if it doesn't fix the issue.

[2020-09-23 21:36] #106 closed

[2020-09-24 19:15] lionheart2013 commented on #108
@fernando-mc , thanks man appreciate your response on this and yes I think you are correct, already contacted serverless.com support team for the issue.

[2020-12-07 06:06] fernando-mc commented on #104
Hi @Koli14! Thanks for using the plugin.

Similar to what @StephaneP suggests, I think you'll need to bundle the library in with your code and build your website in order to deploy it with serverless finch. Usually this involves some sort of `dist` directory being created.

I'm not sure if this question specifically applies to this plugin though so I'm closing it.

[2020-12-07 06:06] #104 closed

[2020-12-07 06:07] fernando-mc commented on #97
Closing because I closed #98

[2020-12-07 06:07] #97 closed

[2020-12-07 06:08] fernando-mc commented on #95
Closing because this was added in v2.6.0. Thanks again!

[2020-12-07 06:08] #95 closed

[2021-01-18 02:26] ScottyMJacobson opened #111 "Exempt certain files from upload? / Exempt .DS_Store by default?"
This is a:

* [x] Feature request or change
* [] Bug report

### Current behavior (if any)

`serverless-finch` uploads every file in the `distributionFolder`, including undesirable files (specifically .DS_Store)

### Proposed behavior

Allow an `include` and `exclude` option like serverless does in its [Packaging](https://www.serverless.com/framework/docs/providers/aws/guide/packaging) functionali

[2021-01-22 13:21] benheymink commented on #111
Dupe of https://github.com/fernando-mc/serverless-finch/issues/70

[2021-01-22 18:19] ScottyMJacobson commented on #111
Ah, thank you for pointing out the duplicate! (did a search and tried to see if it existed, but no dice)

High level implementation strategy - add an `ignoreFiles` argument to the options that takes in an array of globs, pass it to `uploadDirectory`, and on line 25 `allFiles` would become `allEligibleFiles` or something

TBD how much trouble I'd have writing a test case for it; haven't looked at y

[2021-02-19 09:30] ash211 commented on #72
Done in https://github.com/fernando-mc/serverless-finch/pull/101.  This can be closed.

[2021-02-19 19:41] #72 closed

[2021-02-19 20:24] fernando-mc commented on #111
@benheymink Thanks for pointing this out as a dupe!

@ScottyMJacobson appreciate the feedback! I think it's a good feature request. I'll close this and we can address this in #70

You're welcome to add the recommendations there and I'd love to see a PR to support this functionality.

Unfortunately, the testing strategy is very poor right now. I'd also be open to any PRs that improve that process.

[2021-02-19 20:24] #111 closed

[2021-02-19 20:44] fernando-mc commented on #105
Sorry for the delay and thank you for the suggestion @shinglyu!

This use case makes sense to me simplifies the workflow for a lot of folks currently manually adding CORS config to a custom bucket that they're POSTing/PUTing files into with presigned URLs. Appreciate you brining this up.

As we would be changing the old default CORS policy I'd be open to this as part of a new breaking change versi

[2021-02-19 20:44] fernando-mc commented on #105
I think there's actually a related PR that I'd want to merge at the same time that could help address this too:

https://github.com/fernando-mc/serverless-finch/pull/103/files

[2021-03-29 15:33] enapupe opened #113 "MaxAgeSeconds"
* [x] Feature request or change

### Current behavior (if any)
CORS policy sets max age to zero: https://github.com/fernando-mc/serverless-finch/blob/master/lib/resources/CORSPolicy.json#L7

### Proposed behavior
Longer or customizable max-age value

### Justification
Considering this tool's purpose is to upload static assets to s3, why are we setting the lifetime of the CORS preflight to zero? Wh

[2021-03-31 23:05] sssd-dev opened #114 "S3 bucket logging"
This is a:

* [X] Feature request or change
---

For feature requests or changes:

### Current behavior (if any)
S3 bucket does not have any logging enabled.

### Proposed behavior
Add the option to let user enable logging

### Proposed implementation details (optional)

### Justification
Due to compliance requirements, S3 buckets are required to have server side logging enabled.

[2021-04-01 14:01] sssd-dev commented on #114
Solved this, there is already a way to get this configured.
#####Solution -

- Enable below flag
[code]
- Utilize custom resources section to bring up S3 bucket. Gives much more flexibility.

[2021-04-01 14:01] #114 closed

[2021-04-13 09:12] bebbi commented on #56
@rstittda would your branch e ready for a PR? It looks like the solution proposed just above doesn't allow one regular site plus a redirect like OP mentioned.

[2021-04-13 23:59] rstittda commented on #56
I’ll take a look this week at the PR as it has been a while.

From: Stefan ***@***.***>
Sent: Tuesday, 13 April 2021 6:43 PM
To: fernando-mc/serverless-finch ***@***.***>
Cc: Russell Stitt ***@***.***>; Mention ***@***.***>
Subject: Re: [fernando-mc/serverless-finch] multiple sites for www redirect? (#56)

@rstittda<https://github.com/rstittda> would your branch e ready for a PR? It looks like the

[2021-04-16 15:18] denisroc opened #115 "Issue with installing serverless finch"
I'm trying to install using npm install --save-dev serverless-finch but the package is not installing.

This is a:

* [] Feature request or change
* [] Bug report

---

For bug reports:

### Expected behavior

### Actual behavior

### Steps to reproduce

* **Operating system:**
* **serverless-finch version:**
* `serverless.yml` **that produces bug:**
* **Command that produces bug:**
* **Other deta

[2021-04-17 07:32] #115 closed

[2021-04-20 12:07] jthomas opened #116 "Broken with SLS FW 2.36.0 due to `servicePath` missing"
This is a:

* [X] Bug report

---

For bug reports:

### Expected behavior

I cannot `sls client deploy` with the new release of the framework (2.36.0). It gives me this error:

[code]

Digging through the code to find out what's going wrong - the actual error is coming from here:

[code]

Looking at the line:
[code]

`serverless.config.servicePath` is not set. Looking at the release notes - it se

[2021-04-29 10:41] jthomas commented on #116
Looks like they fixed the bug in the framework - so this is no longer an issue.
https://github.com/serverless/serverless/pull/9343

[2021-04-29 10:41] #116 closed

[2021-08-02 11:26] blackram commented on #56
Hi, it has been a while but I have run my PR tests again and added some documentation. I'm still happy with the PR.

[2021-10-09 06:38] celtric opened #118 "Error deploying website: TypeError: this.aws.request(...).bind is not a function"
This is a:

* [ ] Feature request or change
* [x] Bug report

---

For bug reports:

### Expected behavior

Website is deployed successfully.

### Actual behavior

Deployment fails with the following output:

[code]

### Steps to reproduce

* **Operating system:** Windows 11
* **serverless-finch version:** 1.4.0
* `serverless.yml` **that produces bug:** standard one based on examples
* **Command t

[2021-10-09 13:19] celtric commented on #118
Sorry, after debugging the code I've realized that we were on the latest version... of the 1.x branch 🤦🏻 Upgrading to `2.6.0` solved the issue.

[2021-10-09 13:19] #118 closed

[2021-12-14 00:23] atlasgurus opened #130 "Security vulnerability CVE-2021-23440 in set-value versions below 4.0.1"
package.json needs to be updated to use set-value@4.0.1 or above. Since set-value was not used by this project directly, the dependencies that do use it had to be updated to the the latest versions that do not have this issue.
For more information see https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2021-23440.

[2021-12-15 08:42] fernando-mc commented on #130
Will be addressed in v2.7.7

[2021-12-15 08:42] #130 closed

[2021-12-22 18:54] arman-teahorse opened #132 "TypeError: (intermediate value).run is not a function"
This is a:

* Feature request or change
* [x] Bug report

---

For bug reports:

### Expected behavior
Frontend is deployed to AWS when running 'serverless client deploy'.

### Actual behavior
Frontend is not deployed, with the following error:
Serverless: Configuration warning at 'functions.api.events[0].http': value 'ANY {proxy+}' does not satisfy pattern /^(?:\*|(GET|POST|PUT|PATCH|OPTIONS|HEAD

[2021-12-27 03:40] JacksonGariety commented on #132
I am also experiencing this issue

[2021-12-30 11:26] jaredchu commented on #132
The issue is in confirm code, currently we can avoid it using `--no-confirm` option:
[code]

[2021-12-30 18:20] arman-teahorse commented on #132
Thanks for sharing. Next time I run this code I will try that out.

[2022-01-18 07:43] thescientist23 opened #134 "Using KeyPrefix does not delete the s3 bucket after "sls remove" command."
This is a:

* [] Feature request or change
* [x] Bug report

---

For bug reports:

### Expected behavior
"sls remove" should remove the bucket
### Actual behavior
objects was deleted but the bucket remains, although it is empty but in a long run it will pile up on my aws account.
### Steps to reproduce
Added KeyPrefix to yml file.
<pre>
custom:
   client:
     keyPrefix: 'samplepref'
</pre>
Below

[2022-01-18 20:52] johnzoet opened #135 "TypeError: (intermediate value).run is not a function"
This is a:

* [] Bug report

---

For bug reports:

### Expected behavior
Serverless client is deployed

### Actual behavior
Command "serverless client deploy" throws error:
TypeError: (intermediate value).run is not a function

### Steps to reproduce

Your Environment Information ---------------------------
     Operating System:          win32
     Node Version:              16.13.0
     Framewo

[2022-01-21 14:19] hardzeichyksiarhei commented on #132
Thanks! :)

[2022-01-23 19:29] sprockow commented on #81
There seems to be a little bit of activity in this repo again, so I'm revisiting this PR after a long absence. I rebased my PR #109 and fixed merge conflicts. I also added those README changes promised.

Is this a feature we'd like in this repo? I've been using this myself for a while now using my fork. I'd love to get this contributed upstream.

[2022-02-04 02:50] mikejpeters opened #137 "Unsupported CLI options with Serverless 3"
This is a bug report

### Expected behavior

Passing CLI options for this plugin (e.g. `--no-confirm`) should work with Serverless 3.

### Actual behavior

Deploy fails with the error:

[code]

### Steps to reproduce

* **Operating system:** Windows 11
* **serverless-finch version:** 2.8.0
* `serverless.yml` **that produces bug:** _any_
* **Command that produces bug:** `serverless deploy --no-conf

[2022-02-04 09:31] clarkd commented on #137
Also seeing this on macOS, with the same versions.

[2022-02-06 03:30] AlissonRS commented on #137
I'm facing the same issue in my CI/CD pipelines (I tested locally and it fails too).

[2022-02-15 03:15] martinhalford commented on #135
@fernando-mc - Is this a legitimate bug in Serverless-finch, or should we be looking elsewhere?  Many thanks.

[2022-02-16 11:42] henriksvensson commented on #137
Thanks @mikejpeters for fixing this and publishing your solution!

[2022-02-20 04:28] fernando-mc opened #142 "MAINTEINERS NEEDED"
Hello friends.

It's been ~5 years and I am no longer able to do active maintenance on this package.

I am looking for maintainers who are able to help contribute patches and review PRs or an organization I can entrust the NPM repository to.

My best,
Fernando

[2022-02-20 04:32] fernando-mc commented on #137
@mikejpeters appreciate the fix! Would you be interested in helping with #142 and merging your fix in here? Unfortunately I am no longer able to maintain this plugin and am looking to find folks who can help with it.

[2022-02-20 04:34] fernando-mc commented on #135
@johnzoet @martinhalford apologies for the delay. I haven't been able to look at this.

If you're interested in helping with #142 please comment there and I'd be happy to get in touch and talk it over! It might be a legitimate bug or an issue that cropped up in new versions of the framework.

[2022-02-20 04:36] fernando-mc commented on #132
Apologies for the delay on this! Would you be interested in helping with #142? Unfortunately I am no longer able to maintain this plugin and am looking to find folks who can help with it.

[2022-02-20 10:56] martinhalford commented on #142
Hi @fernando-mc, we might be about to help. We use Serverless-Finch in our project and it would be great to see it continue.

[2022-02-21 06:29] fernando-mc commented on #142
@martinhalford thanks for reaching out! Can you email me so we can set up a short call to talk about it? I'm open to anything from adding core maintainers who can take ownership to full ownership by a reputable org.

My contact info:
https://www.fernandomc.com/contact/

[2022-02-23 15:32] Shereef commented on #142
I can also help by reviewing PRs and testing. I don't know if the company I work for would be willing to take ownership but I can ask.

[2022-02-24 07:41] fernando-mc commented on #142
Thanks @Shereef! I'm making a short list of folks just to act as more dedicated maintainers. Happy to add you if you're interested!

[2022-02-24 07:47] fernando-mc commented on #142
@Shereef can you reach out to me via email? I'll add you to a maintainer thread with @martinhalford and @mikejpeters

@linusmarco you want on there too? I know it's been a while so I understand if you're busy with other things!

[2022-02-26 08:01] Shereef opened #145 "AWS Credentials for integration tests"
This is an issue to discuss having AWS Creds in the github repo.

For feature requests or changes:

### Current behavior (if any)
Integration tests fail https://github.com/fernando-mc/serverless-finch/runs/5343253800?check_suite_focus=true

### Proposed behavior
Added AWS Credentials to be able to run integration tests successfully
### Proposed implementation details (optional)
- @fernando-mc is h

[2022-02-26 08:51] Shereef commented on #145
@fernando-mc I have done some research on your behalf and included the steps above

I don't like that you need to have `s3:ListAllMyBuckets` on there but serverless tries to list all buckets and if it doesn't have the permission it doesn't try to bypass the error so it must be added

[2022-02-26 17:21] mikejpeters opened #146 "Fully automate releases"
### Current behavior

I think releases are currently done as follows:

1. Update the version in `package.json`
2. Add changelog to the readme
3. Push to master
4. Create a GitHub release which triggers the npm publish workflow.

### Proposed behavior

Use [semantic-release](https://github.com/semantic-release/semantic-release) to fully automate releases so the process is as simple as running a Git

[2022-02-26 17:28] mikejpeters commented on #146
@fernando-mc @Shereef this is not high priority, but whenever you have time can you let me know if this is something that you'd be interested in? It's not a lot of work for me to implement. Please @ mention anyone else who should be involved in this decision as well.

(And if there's a better way to make these suggestions or have these conversations please let me know)

Thanks!

[2022-02-26 17:29] Shereef commented on #146
I like it
That's what I understood from your other PR.

The linting part is new and I agree with it.

[2022-02-26 18:30] Shereef commented on #146
I prefer the manual action since we need to coordinate and approve
eachother releases

ᐧ

[2022-02-26 18:31] fernando-mc commented on #145
Though @Shereef will this work for @mikejpeters's PR? I thought we were making buckets of the account ID?

[2022-02-26 18:34] Shereef commented on #145
The * makes it work `"Resource": "arn:aws:s3:::serverless-finch-test-*"` I will test it

[2022-02-26 18:34] fernando-mc commented on #146
@mikejpeters totally fine with doing this. The NPM token should be in the repo to make this possible.

Ideally we don't do this immediately off of merges to master - only when we cut a new release though. We'll want to let tests run, write up release notes etc. and then have sign off before we do releases.

But if you want to trigger it off of releases I think we can do that. I have another repo t

[2022-02-26 18:36] fernando-mc commented on #145
Works for me, I thought the start of bucket resources was the account ID didn't realize we prefixed with serverless-finch-test but makes sense to me! Integration tests seem to be running well @mikejpeters.

Feel free to merge whenever two maintainers approve. You should have credentials needed to make a release. Please make sure to update docs before that and make sure that this is a new major ver

[2022-02-26 18:44] #145 closed, assigned to fernando-mc

[2022-02-26 18:50] fernando-mc commented on #145
You're good on this release. Just sync with @mikejpeters at some point to figure out who is writing release notes/doc updates. As long as you don't introduce anything else major consider it a sign off from me @Shereef! I'm out for several hours now but will be back on tonight if you need anything.

[2022-02-26 18:50] mikejpeters commented on #146
Ok sounds good, let's trigger it manually. I will write up a PR soon to do this.  The semantic-release can actually generate the GitHub release automatically using the commit messages, which IMO is great because it saves a lot of time there (and you can still edit the notes after if necessary)

[2022-02-26 18:57] mikejpeters commented on #35
Resolved by #144

[2022-02-26 18:57] #35 closed

[2022-02-26 18:59] mikejpeters commented on #135
Duplicate of #132

[2022-02-26 18:59] #135 closed

[2022-02-26 19:12] Shereef commented on #132
I think this would be fixed with the merge of #144 can you please test it out @arman-teahorse

[2022-02-26 19:13] mikejpeters commented on #134
On one hand I think it makes sense not to remove the bucket when `keyPrefix` is being used, since ait could be used used when deploying to a bucket that also contains other data. But there may be other use cases, such as making the deployment match the naming conventions of frontend frameworks / tools.

@thescientist23 if you're still interested in this functionality can you please explain why you

[2022-02-26 22:17] Shereef commented on #132
@johnzoet tested this and it has been resolved

Please open another issue if you have any more concerns

[2022-02-26 22:17] #132 closed

[2022-02-27 04:10] fernando-mc commented on #134
@mikejpeters seconding what you're saying here. This could have unintended consequences that I'm not comfortable with. If we add support for this it should be in a new feature/setting.

[2022-02-27 04:11] fernando-mc commented on #34
I think we can close this for now given work @mikejpeters did today!

[2022-02-27 04:11] #34 closed

[2022-02-27 17:43] #146 closed

[2022-02-27 18:13] Shereef opened #151 "Enable `Automatically delete head branches` in the repo settings"
This is a:

* [✓] Change

---

For feature requests or changes:

### Current behavior (if any)
- Branches have to be deleted manually
### Proposed behavior
- Branches get deleted automatically when merged
### Proposed implementation details (optional)
1. Click settings
2. Check the box `Automatically delete head branches`
### Justification
One less thing we have to do manually

[2022-02-27 18:29] fernando-mc opened #152 "Approval Requirements - RFC"
Just added these requirements. Open to changing them as needed.

@mikejpeters this is what I should have put into place earlier to avoid accidental merges.

<img width="1188" alt="Screen Shot 2022-02-27 at 10 27 22 AM" src="https://user-images.githubusercontent.com/6182464/155894898-69cafc90-9d0a-47fb-b164-d891aeb144b4.png">

cc @Shereef

Let me know if these look okay to you both.

[2022-02-27 18:30] fernando-mc commented on #151
<img width="863" alt="Screen Shot 2022-02-27 at 10 29 48 AM" src="https://user-images.githubusercontent.com/6182464/155894966-ee7e2db6-c801-4af7-b205-9426d14ccb7a.png">

Done. Thanks for the issue @Shereef

[2022-02-27 18:30] #151 closed

[2022-02-27 19:12] Shereef commented on #152
Thanks so much for this!
<img width="763" alt="image" src="https://user-images.githubusercontent.com/356763/155896190-e2671888-4dd6-4a1f-b9d8-965ffb4ec520.png">
Those would be nice also to have tests required

<img width="746" alt="image" src="https://user-images.githubusercontent.com/356763/155896220-e874714c-b679-42c6-ac5b-02462970e712.png">
This one is also nice

I noticed the only merge commit

[2022-02-27 20:48] fernando-mc commented on #152
Updated:
<img width="804" alt="Screen Shot 2022-02-27 at 12 48 10 PM" src="https://user-images.githubusercontent.com/6182464/155899327-649a5c7a-d006-43f4-8544-573126c545fb.png">

[2022-02-27 20:49] fernando-mc commented on #152
Not sure how GitHub pulls the status check names in. @mikejpeters might be worth checking this because I couldn't find "Integration" tests so maybe it pulls the name directly from the name within the yaml not the filename.

[2022-02-27 20:51] Shereef commented on #152
It won't show because integration is not marked to ru non PRs
Regards,

<https://daysmart.com/>

*Shereef Marzouk*

Team Lead Full Stack Engineer

M: 902.299.5590

DaySmart Software

3520 Green Court, Suite 250

Ann Arbor, MI 48105

ᐧ

On Sun, Feb 27, 2022 at 4:49 PM Fernando Medina Corey <
***@***.***> wrote:

[2022-02-27 21:02] mikejpeters commented on #152
Seems like what Shereef made sense, it wouldn't be possible to enforce integration tests unless we enable them to run on pull requests as well.

Requirements look good to me

[2022-02-27 21:19] fernando-mc commented on #152
Ahh got it, makes sense. Well then keep me posted if I need to make other changes from the above. Closing this for now.

[2022-02-27 21:19] #152 closed

[2022-02-28 06:48] thescientist23 commented on #134
@mikejpeters , thanks for your response, I am using `KeyPrefix` for my custom domain, basically for developing feature branch, eg. `https://domain.com/feat-1`, `https://domain.com/feat-2`,...etc. and to map the location according to feature branch I am deploying the react app on non root path thats where the `KeyPrefix` came into play.

[2022-02-28 07:09] mikejpeters commented on #134
Thanks for the response. I'm assuming you wouldn't want this plugin to delete the bucket if there are still other objects i (e.g. in your case feature branches)?

@fernando-mc can you weigh in on this again when you have a chance? If the plugin deletes the objects at the prefix, and then only deletes the bucket **if it's completely empty** I don't see a downside. But maybe I'm missing some danger

[2022-02-28 07:24] mikejpeters commented on #92
I tested this scenario with serverless-finch v3 and could not reproduce the issue.  Please let us know if you still encounter this issue on v3 of this plugin.

[2022-02-28 07:24] #92 closed

[2022-02-28 07:28] mikejpeters commented on #66
I'm closing this issue because serverless-pseudo-parameters is now [deprecated](https://github.com/svdgraaf/serverless-pseudo-parameters#deprecated) (it's functionality is provided is in Serverless framework). Please open a new issue if you still run into any issues.

[2022-02-28 07:28] #66 closed

[2022-02-28 07:35] mikejpeters commented on #67
I think the solutions documented here are good enough for anyone searching for how to do this. Since there hasn't been any activity on this issue in a while, and I'm not sure we want to document features outside of this plugin, I'm going to close this issue

[2022-02-28 07:35] #67 closed

[2022-02-28 20:55] fernando-mc commented on #134
@mikejpeters - I also prefer clean sensible defaults so as long as we release this with a major version bump I'm fine with it. I agree it probably makes sense and there's aren't many people who would object to it but it does change default behavior destructively and there's always some weird use cases we can't predict.

When including this:
1. Add a warning to release notes
2. Bump a major version

[2022-03-02 06:00] fernando-mc opened #159 "Review/Harden Default CORS Settings"
We've used the same default CORS configuration for a while. If we're going to release another major version soon with one of the features @mikejpeters is working on we might as well consider updating these too and seeing if they're appropriate.

I think right now we allow POST/PUT from other Amazon AWS static site domains which we might want to reconsider. It's potentially useful when you have som

[2022-03-02 06:33] mikejpeters commented on #159
Is there already an easy way to configure CORS? I had been looking at issue #88 and related (but outdated) PR #103 - and considering assigning myself, but only if it's still useful.

Re: the default settings and security, sounds like a good plan. Hopefully someone here has some expertise / interest in that; it's not really my wheelhouse.

[2022-03-03 03:18] #134 closed

[2022-03-07 21:38] #88 closed

[2022-03-07 21:57] mikejpeters opened #162 "v4"
I'd like to keep momentum going and create a new release soon.

It may be a while before we come up with better CORS defaults (#159), but now we've merged #160 for custom CORS config file, and hopefully merge a small fix in #161 shortly.

NOTE: the release process is now automated which means it's just triggering a GitHub action. We agreed to do releases with approval, so I'm hoping I can get info

[2022-03-08 01:30] Shereef commented on #162
@mikejpeters Do we need to do release notes ? iirc you said that would be automated right ?

[2022-03-08 01:32] Shereef commented on #162
I would think we'd either need to add release notes manually to the ReadMe.md or remove them and link to somewhere else where they will be generated
Please make a PR titled v4 with those changes and I will approve that

[2022-03-08 02:46] mikejpeters commented on #162
The release notes are automatically added to the release. I think that's been done manually in the last releases anyway. I think we should remove the existing ones from the readme at some point and just link to releases if you think it won't be obvious

[2022-03-08 02:49] mikejpeters commented on #162
I think part of the idea of conventional commits is you're kind of approving the release notes at the same time as you approve each PR. Then the release is nice and easy :)

[2022-03-12 15:09] #162 closed

[2022-03-25 18:41] siolfyr opened #165 "Cannot destructure property 'log' of 'undefined'"
**Describe the bug**
TypeError: Cannot destructure property 'log' of 'undefined' as it is undefined.
      at new Client (/Users/username/home/company/td-scheduler/node_modules/serverless-finch/lib/plugin.js:14:41)
      at PluginManager.addPlugin (/Users/username/.nvm/versions/node/v14.19.0/lib/node_modules/serverless/lib/classes/PluginManager.js:92:28)
      at /Users/username/.nvm/versions/node

[2022-03-26 05:35] Shereef commented on #165
@siolfyr Thanks for your bug report!
The last version I tested with `serverless@^2.X.X` is actually `serverless-finch@[v2.8.0](https://github.com/fernando-mc/serverless-finch/releases/tag/v2.8.0)`
When we went to V3 we tested with `serverless@^3`

I am not sure what needs to change to get this to work with serverless 2, however, I do know the while going to serverless 3 the logging mechanism chang

[2022-05-16 15:00] PierrickI3 opened #166 "Avoiding web site breaking with "Missing S3 Bucket""
**Is your feature request related to a problem? Please describe.**
When I use serverless-finch to deploy a web site, I temporarily get the "Missing S3 Bucket" error while files are deploying.

**Describe the solution you'd like**
Deploy without breaking our frontend

**Describe alternatives you've considered**
Would https://github.com/fernando-mc/serverless-finch/issues/99 (upload a zip) fix this

[2022-05-18 12:29] #166 closed

[2022-05-18 13:49] PierrickI3 opened #168 "Sample uploadOrders"
I am trying to minimize the downtime while deploying a React frontend.

I already use the `--no-delete-contents` parameter but I see it can be combined with `uploadOrder` however I am not sure which files should be uploaded first? My `build` folder looks like this:

![Clipboard01](https://user-images.githubusercontent.com/7140338/169055431-ba0c4f6e-a289-4adc-a9e3-28d084a5048a.jpg)

I have the foll

[2022-05-20 19:22] mikejpeters commented on #168
I only have experience with Angular apps, but assuming it's similar for most SPAs and the built assets and JavaScript files have hashed filenames, these are safe to upload first, and you want to upload the index.html last, since it will replace the old one and depend on the other assets to exist.

For your second question I need to look into the code again. I'll try to do this next week and let yo

[2022-05-23 16:02] PierrickI3 commented on #168
Thanks! so eventually, it should look likes this I think:

[code]

[2022-05-31 02:25] mikejpeters commented on #168
Sorry for the delay.  Unmatched files are uploaded first. Also each item in `uploadOrder` is treated as a regular expression (case-insensitive).

So in case you you have just a single HTML file that references your assets, it is probably enough to have the following configuration:

[code]

(note that the `.` is escaped so it's treated as a literal "." instead of matching any single character)

[2022-05-31 02:40] #142 closed

[2022-05-31 08:47] PierrickI3 commented on #168
Thanks!

[2022-08-04 09:24] jer-sen opened #174 "Documentation for deletion with keyPrefix"
Only objects under the key prefix are deleted, documentation is misleading:

should be replaced by something like

[2022-09-30 13:41] mdnorman opened #175 "Provide custom policy and cors configuration through serverless config"
**Is your feature request related to a problem? Please describe.**
I'd rather not keep multiple complete copies of a custom policy and cors configuration around. So, instead I end up telling serverless-finch to not stomp over the custom policy and cors that I set up within my serverless yaml.

In fact, for some configuration, for example `CloudFrontOriginAccessIdentity`, I'm not able to use a stat